<h6>
    <div class="d-flex w-100 justify-content-between">
        <div class="mt-auto bold">
            Opportunity Details
        </div>
        <div class="d-flex">
            <button class="btn btn-danger btn-sm" (click)="showDeleteModal()">
                <fa-icon [icon]="faTrash"></fa-icon> Delete
            </button>
        </div>
    </div>
</h6>

<p class="fw-light small">
    Provide details about this energy efficiency opportunity in this assessment. Providing an implementation cost will allow for
    payback calculations. These details will be rolled up to generate a final report on the assessment.
</p>


<form>
    <div class="row">
        <label class="col-sm-5 col-form-label" for="{{'energyOpportunityName_'+energyOpportunity.guid}}">Opportunity
            Name</label>
        <div class="col-sm-7">
            <input name="{{'energyOpportunityName_'+energyOpportunity.guid}}" type="text" class="form-control"
                [(ngModel)]="energyOpportunity.name" minlength="1" maxlength="42"
                id="{{'energyOpportunityName_'+energyOpportunity.guid}}" (input)="saveEnergyOpportunity()">
        </div>
    </div>
    <div class="row">
        <label class="col-sm-5 col-form-label" for="{{'utilityType_'+energyOpportunity.guid}}">Utility
            Type</label>
        <div class="col-sm-7">
            <select name="{{'utilityType_'+energyOpportunity.guid}}" class="form-select"
                id="{{'utilityType_'+energyOpportunity.guid}}" [(ngModel)]="energyOpportunity.utilityType"
                (change)="changeUtilityType()">
                <option *ngFor="let utilityType of energyOpportunity.utilityTypes" [ngValue]="utilityType">
                    {{utilityType}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-5 col-form-label" for="{{'implementationCost_'+energyOpportunity.guid}}">Implementation
            Cost</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input name="{{'implementationCost_'+energyOpportunity.guid}}" type="number" class="form-control"
                    [(ngModel)]="energyOpportunity.implementationCost"
                    id="{{'implementationCost_'+energyOpportunity.guid}}" (input)="saveEnergyOpportunity()">
                <span class="input-group-text">&dollar;</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch"
                    id="{{'includeSavings_'+energyOpportunity.guid}}" [(ngModel)]="energyOpportunity.includeSavings"
                    name="{{'includeSavings_'+energyOpportunity.guid}}" (input)="saveEnergyOpportunity()">
                <label class="form-check-label" for="{{'includeSavings_'+energyOpportunity.guid}}">Include
                    Savings</label>
            </div>
        </div>
    </div>

    <ng-container *ngIf="energyOpportunity.includeSavings">
        <div class="row">
            <label class="col-sm-5 col-form-label" for="{{'energySavings_'+energyOpportunity.guid}}">Energy
                Savings</label>
            <div class="col-sm-7">
                <div class="input-group">
                    <input name="{{'energySavings_'+energyOpportunity.guid}}" type="number" class="form-control"
                        [(ngModel)]="energyOpportunity.energySavings" id="{{'energySavings_'+energyOpportunity.guid}}"
                        (input)="saveEnergyOpportunity()">
                    <span class="input-group-text" [innerHTML]="(energyOpportunity.energyUnit| unitsDisplay) + '/yr'"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-5 col-form-label" for="{{'costSavings_'+energyOpportunity.guid}}">Cost Savings</label>
            <div class="col-sm-7">
                <div class="input-group">
                    <input name="{{'costSavings_'+energyOpportunity.guid}}" type="number" class="form-control"
                        [(ngModel)]="energyOpportunity.costSavings" id="{{'costSavings_'+energyOpportunity.guid}}"
                        (input)="saveEnergyOpportunity()">
                    <span class="input-group-text">&dollar;</span>
                </div>
            </div>
        </div>
    </ng-container>
    <div class="row">
        <div class="col-sm-12 col-form-label">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch"
                    id="{{'includeNotes_'+energyOpportunity.guid}}" [(ngModel)]="energyOpportunity.includeNote"
                    name="{{'includeNotes_'+energyOpportunity.guid}}" (input)="saveEnergyOpportunity()">
                <label class="form-check-label" for="{{'includeNotes_'+energyOpportunity.guid}}">Opportunity
                    Notes</label>
            </div>
        </div>
        <div class="col-sm-12 mb-1" *ngIf="energyOpportunity.includeNote">
            <textarea name="opportunityNotes" type="number" class="form-control" [(ngModel)]="energyOpportunity.notes"
                id="opportunityNotes"></textarea>
        </div>
    </div>

    <!--NEBs-->
    <h6>
        <div class="d-flex w-100 justify-content-between">
            <div class="mt-auto bold">
                Non-Energy Benefits
            </div>
            <div class="dropdown">
                <button class="btn btn-outline-neb btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false" (click)="toggleAddNebDropdown()">
                    <fa-icon [icon]="faPlus"></fa-icon> Add NEB
                </button>
                <ul class="dropdown-menu" [ngClass]="{'show': showAddNebDropdown}">
                    <li>
                        <a class="dropdown-item" (click)="addNEB()">
                            <fa-icon [icon]="faPlus"></fa-icon> Add Custom NEB
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="showSuggestedNEBs()">
                            <fa-icon [icon]="faSearchPlus"></fa-icon> Search NEBs Database
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </h6>
    <p class="fw-light small">
        Use the "<fa-icon [icon]="faPlus"></fa-icon> Add NEB" dropdown to add Non-Energy Benefits 
            (<fa-icon [icon]="faWeightHanging"></fa-icon>) that are <span class="bold">directly
            associated with this energy efficiency opportunity</span>.
    </p>

    <app-neb-forms-accordion [energyOpportunity]="energyOpportunity"></app-neb-forms-accordion>
</form>

<div [ngClass]="{'window-overlay': displayDeleteModal}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteModal }">
    <div class="popup-header">Delete this energy opportunity?
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeDeleteModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-info">
            Are you sure you want to delete this energy opportunity?
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary btn-sm me-2" (click)="closeDeleteModal()">Cancel</button>
        <button class="btn btn-danger btn-sm" (click)="deleteEnergyOpportunity()"><fa-icon [icon]="faTrash"
                class="me-1"></fa-icon>Delete Opportunity</button>
    </div>
</div>