<div class="card" [id]="'energyOpportunity_'+energyOpportunity.guid">
    <div class="card-header text-bg-dark">
        <h5 class="card-title mb-0">
            <fa-icon [icon]="faFileLines" class="me-2"></fa-icon>{{energyOpportunity.name}}
        </h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <label class="col-sm-5 col-form-label" for="energyOpportunityName">Energy Opportunity Name</label>
                <div class="col-sm-7">
                    <input name="energyOpportunityName" type="text" class="form-control"
                        [(ngModel)]="energyOpportunity.name" minlength="1" maxlength="42" id="energyOpportunityName"
                        (input)="saveEnergyOpportunity()">
                </div>
            </div>
            <div class="row">
                <label class="col-sm-5 col-form-label" for="energyOpportunityType">Opportunity Type</label>
                <div class="col-sm-7">
                    <select name="opportunityType" class="form-select" id="opportunityType"
                        [(ngModel)]="energyOpportunity.opportunityType" (change)="saveEnergyOpportunity()">
                        <option [ngValue]="undefined">
                            Other
                        </option>
                        <option *ngFor="let opportunityType of opportunityTypes" [ngValue]="opportunityType.value">
                            {{opportunityType.label}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <label class="col-sm-5 col-form-label" for="implementationCost">Implementation Cost</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <input name="implementationCost" type="number" class="form-control"
                            [(ngModel)]="energyOpportunity.implementationCost" id="implementationCost"
                            (input)="saveEnergyOpportunity()">
                        <span class="input-group-text">&dollar;</span>
                    </div>
                </div>
            </div>
            <hr class="my-1">
            <div class="row">
                <div class="col-12">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="includeSavings"
                            [(ngModel)]="energyOpportunity.includeSavings" name="includeSavings"
                            (input)="saveEnergyOpportunity()">
                        <label class="form-check-label" for="includeSavings">Include Savings</label>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="energyOpportunity.includeSavings">
                <div class="row">
                    <label class="col-sm-5 col-form-label" for="energySavings">Energy Savings</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input name="energySavings" type="number" class="form-control"
                                [(ngModel)]="energyOpportunity.energySavings" id="energySavings"
                                (input)="saveEnergyOpportunity()">
                            <span class="input-group-text">MMBtu/yr</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 col-form-label" for="costSavings">Cost Savings</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input name="costSavings" type="number" class="form-control"
                                [(ngModel)]="energyOpportunity.costSavings" id="costSavings"
                                (input)="saveEnergyOpportunity()">
                            <span class="input-group-text">&dollar;</span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <hr class="my-1">
            <div class="row">
                <div class="col-sm-5 col-form-label">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="includeNote"
                            [(ngModel)]="energyOpportunity.includeNote" name="includeNote"
                            (input)="saveEnergyOpportunity()">
                        <label class="form-check-label" for="includeNote">Notes</label>
                    </div>
                </div>
                <div class="col-sm-7" *ngIf="energyOpportunity.includeNote">
                    <textarea name="nebNotes" type="number" class="form-control" [(ngModel)]="energyOpportunity.notes"
                        id="nebNotes"></textarea>
                </div>
            </div>
            <hr class="my-1">

            <div class="row">
                <label class="col-sm-5 col-form-label" for="nonEnergyBenefitIds">Non-Energy Benefits</label>
                <div class="col-sm-7">
                    <button class="btn btn-dark btn-sm add-neb-btn w-100" (click)="showSuggestedNEBs()">
                        <fa-icon [icon]="faSearchPlus"></fa-icon> Suggested NEBs
                    </button>
                </div>
                <div class="col-12" *ngFor="let nebGuid of energyOpportunityNebGuids">
                    <app-neb-setup-form [nebGuid]="nebGuid"></app-neb-setup-form>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="d-flex w-100 justify-content-end">
            <button class="btn btn-danger btn-sm" (click)="showDeleteModal()">
                <fa-icon [icon]="faTrash"></fa-icon> Remove Energy Opportunity
            </button>
        </div>
    </div>
</div>


<div [ngClass]="{'window-overlay': displayDeleteModal}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteModal }">
    <div class="popup-header">Discard this energy opportunity?
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeDeleteModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-info">
            Are you sure you want to discard this energy opportunity?
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeDeleteModal()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteEnergyOpportunity()"><fa-icon [icon]="faTrash"
                class="me-1"></fa-icon>Discard Opportunity</button>
    </div>
</div>