<div class="card" [id]="'neb_'+nonEnergyBenefit.guid">
    <div class="card-header text-bg-dark">
        <h5 class="card-title mb-0">
            <fa-icon [icon]="faWeightHanging" class="me-2"></fa-icon> {{nonEnergyBenefit.name}}
        </h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row mb-1">
                <label class="col-sm-5 col-form-label" for="nebName">NEB Name</label>
                <div class="col-sm-7">
                    <input name="nebName" type="text" class="form-control" [(ngModel)]="nonEnergyBenefit.name"
                        minlength="1" maxlength="42" id="nebName" (input)="saveChanges()">
                </div>
            </div>
            <!-- <div class="row mb-1">
                <label class="col-sm-5 col-form-label" for="kpiId">Associated KPI</label>
                <div class="col-sm-7">
                    <select class="form-select" name="kpiId" [(ngModel)]="nonEnergyBenefit.kpiId" (change)="setKPI()">
                        <option *ngFor="let kpi of keyPerformanceIndicators" [ngValue]="kpi.kpiOptionValue">
                            <!-- <span [innerHTML]="kpi | kpiLabel"></span> --
                        </option>
                        <option [ngValue]="undefined">&mdash;</option>
                    </select>
                </div>
            </div>
            <div class="row mb-1" *ngIf="kpi && !kpi.isQualitative">
                <label class="col-sm-5 col-form-label" for="annualKpiImpact">Annual KPI Impact</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <input name="annualKpiImpact" type="number" class="form-control"
                            [(ngModel)]="nonEnergyBenefit.annualKpiImpact" id="annualKpiImpact" (input)="saveChanges()">
                        <span class="input-group-text">{{kpi.units}}/yr</span>
                    </div>
                </div>
            </div> -->

            <hr class="my-1">
            <div class="row mb-1">
                <div class="col-sm-5 col-form-label">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="includeNote"
                            [(ngModel)]="nonEnergyBenefit.includeNote" name="includeNote" (input)="saveChanges()">
                        <label class="form-check-label" for="includeNote">Notes</label>
                    </div>
                </div>
                <div class="col-sm-7" *ngIf="nonEnergyBenefit.includeNote">
                    <textarea name="nebNotes" type="number" class="form-control" [(ngModel)]="nonEnergyBenefit.notes"
                        id="nebNotes"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="d-flex w-100 justify-content-end">
            <button class="btn btn-danger btn-sm" (click)="showDeleteModal()">
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </div>
    </div>
</div>

<div [ngClass]="{'window-overlay': displayDeleteModal}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteModal }">
    <div class="popup-header">Discard this NEB?
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeDeleteModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-info">
            Are you sure you want to discard this NEB?
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeDeleteModal()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteNonEnergyBenefit()"><fa-icon [icon]="faTrash"
                class="me-1"></fa-icon>Discard NEB</button>
    </div>
</div>