<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <th class="w-25">
                Company Name
            </th>
            <td>
                {{company.generalInformation.name}}
            </td>
        </tr>
        <tr>
            <td>
                Address
            </td>
            <td>
                &mdash;
            </td>
        </tr>
        <tr>
            <td>
                NAICs
            </td>
            <td>
                <ng-container *ngIf="!company.generalInformation.naics1">
                    &mdash;
                </ng-container>
                <ng-container
                    *ngIf="company.generalInformation.naics1 && !company.generalInformation.naics2 && !company.generalInformation.naics3">
                    {{company.generalInformation.naics1}}
                </ng-container>
                <ng-container *ngIf="company.generalInformation.naics2 && !company.generalInformation.naics3">
                    {{company.generalInformation.naics2}}
                </ng-container>
                <ng-container *ngIf="company.generalInformation.naics3">
                    {{company.generalInformation.naics3}}
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>
<h6 class="bold">Tracked Utilities</h6>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="w-25">
                Utility
            </th>
            <th>
                Unit
            </th>
            <th>
                Unit Price
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="company.unitSettings.includeElectricity">
            <td>
                Electricity
            </td>
            <td>
                <span [innerHTML]="company.unitSettings.electricityUnit | unitsDisplay"></span>
            </td>
            <td>
                {{company.unitSettings.electricityPrice}} &dollar;/<span
                    [innerHTML]="company.unitSettings.electricityUnit | unitsDisplay"></span>
            </td>
        </tr>
        <tr *ngIf="company.unitSettings.includeNaturalGas">
            <td>
                Natural Gas
            </td>
            <td>
                <span [innerHTML]="company.unitSettings.naturalGasUnit | unitsDisplay"></span>
            </td>
            <td>
                {{company.unitSettings.naturalGasPrice}} &dollar;/<span
                    [innerHTML]="company.unitSettings.naturalGasUnit | unitsDisplay"></span>
            </td>
        </tr>

        <tr *ngIf="company.unitSettings.includeOtherFuel">
            <td>
                Other Fuel
            </td>
            <td>
                <span [innerHTML]="company.unitSettings.otherFuelUnit | unitsDisplay"></span>
            </td>
            <td>
                {{company.unitSettings.otherFuelPrice}} &dollar;/<span
                    [innerHTML]="company.unitSettings.otherFuelUnit | unitsDisplay"></span>
            </td>
        </tr>

        <tr *ngIf="company.unitSettings.includeWater">
            <td>
                Water
            </td>
            <td>
                <span [innerHTML]="company.unitSettings.waterUnit | unitsDisplay"></span>
            </td>
            <td>
                {{company.unitSettings.waterPrice}} &dollar;/<span
                    [innerHTML]="company.unitSettings.waterUnit | unitsDisplay"></span>
            </td>
        </tr>

        <tr *ngIf="company.unitSettings.includeWasteWater">
            <td>
                Waste Water
            </td>
            <td>
                <span [innerHTML]="company.unitSettings.wasteWaterUnit | unitsDisplay"></span>
            </td>
            <td>
                {{company.unitSettings.wasteWaterPrice}} &dollar;/<span
                    [innerHTML]="company.unitSettings.wasteWaterUnit | unitsDisplay"></span>
            </td>
        </tr>

        <tr *ngIf="company.unitSettings.includeSteam">
            <td>
                Steam (as Utility)
            </td>
            <td>
                <span [innerHTML]="company.unitSettings.steamUnit | unitsDisplay"></span>
            </td>
            <td>
                {{company.unitSettings.steamPrice}} &dollar;/<span
                    [innerHTML]="company.unitSettings.steamUnit | unitsDisplay"></span>
            </td>
        </tr>

        <tr *ngIf="company.unitSettings.includeCompressedAir">
            <td>
                Compressed Air (as Utility)
            </td>
            <td>
                <span [innerHTML]="company.unitSettings.compressedAirUnit | unitsDisplay"></span>
            </td>
            <td>
                {{company.unitSettings.compressedAirPrice}} &dollar;/<span
                    [innerHTML]="company.unitSettings.compressedAirUnit | unitsDisplay"></span>
            </td>
        </tr>
    </tbody>
</table>
<h6 class="bold">Key Performance Indicators</h6>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Qualitative or<br>
                Quantitative?
            </th>
            <th>
                Units
            </th>
            <th>
                Baseline Use
            </th>
            <th>
                Cost Per Unit
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let kpi of company.keyPerformanceIndicators">
            <td>
                <ng-template [ngIf]="!kpi.isCustom" [ngIfElse]="customNameBlock">
                    <span [innerHTML]="kpi.kpiOptionValue | kpiLabel"></span>
                </ng-template>
                <ng-template #customNameBlock>
                    {{kpi.customKPIName}}
                </ng-template>
            </td>
            <td>
                <span class="badge" [ngStyle]="{'background-color':kpi.category | kpiCategoryClass}">
                    {{kpi.category}}
                </span>
            </td>
            <td>
                <ng-template [ngIf]="!kpi.isQualitative" [ngIfElse]="quantitativeBlock">
                    Qualitative
                </ng-template>
                <ng-template #quantitativeBlock>
                    Quantitative
                </ng-template>
            </td>
            <td>
                <ng-template [ngIf]="kpi.isQualitative || !kpi.units" [ngIfElse]="unitsBlock">
                    &mdash;
                </ng-template>
                <ng-template #unitsBlock>
                    {{kpi.units}}
                </ng-template>
            </td>
            <td>
                <ng-template [ngIf]="kpi.isQualitative || !kpi.baselineUsePerYear" [ngIfElse]="baselineUseBlock">
                    &mdash;
                </ng-template>
                <ng-template #baselineUseBlock>
                    {{kpi.baselineUsePerYear}}
                </ng-template>
            </td>
            <td>
                <ng-template [ngIf]="kpi.isQualitative || !kpi.costPerUnit" [ngIfElse]="costBlock">
                    &mdash;
                </ng-template>
                <ng-template #costBlock>
                    {{kpi.costPerUnit}}
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>
<h6 class="bold">Company Contacts</h6>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Contact
            </th>
            <td *ngFor="let contact of contacts">
                {{contact.name}}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                Phone
            </th>
            <td *ngFor="let contact of contacts">
                {{contact.phone}}
            </td>
        </tr>
        <tr>
            <th>
                Email
            </th>
            <td *ngFor="let contact of contacts">
                {{contact.email}}
            </td>
        </tr>
        <tr>
            <th>
                Role
            </th>
            <td *ngFor="let contact of contacts">
                {{contact.role}}
            </td>
        </tr>
        <tr>
            <th>
                Team
            </th>
            <td *ngFor="let contact of contacts">
                {{contact.team}}
            </td>
        </tr>
        <tr>
            <th>
                Focus Area
            </th>
            <td *ngFor="let contact of contacts">
                {{contact.focusArea}}
            </td>
        </tr>
        <tr>
            <th>
                Notes
            </th>
            <td *ngFor="let contact of contacts">
                {{contact.notes}}
            </td>
        </tr>
    </tbody>
</table>