<!--ACTIONS-->
<div class="d-flex w-100 justify-content-between pb-3">
    <div class="pe-2">
        <button class="btn btn-sm btn-primary me-1"
            *ngFor="let contact of nonEnergyBenefit.guid | associatedContacts:'nonEnergyBenefit': contacts;"
            (click)="openContactModal(contact)">
            <fa-icon [icon]="faUser"></fa-icon>
            {{contact | contactNameDisplay}}
        </button>
        <button class="btn btn-sm btn-secondary" (click)="openContactModal(undefined)">
            <fa-icon [icon]="faContactBook"></fa-icon>
            Team Members
        </button>
    </div>
    <div class="d-flex">
        <button class="btn btn-danger btn-sm" (click)="showDeleteModal()">
            <fa-icon [icon]="faTrash"></fa-icon> Delete
        </button>
    </div>
</div>
<!--FORM-->
<form>
    <ng-template [ngIf]="nonEnergyBenefit.isCustom">
        <div class="row mb-2">
            <label class="col-sm-5 col-form-label" for="{{'nebName'+nonEnergyBenefit.guid}}">NEB Name</label>
            <div class="col-sm-7">
                <input name="{{'nebName'+nonEnergyBenefit.guid}}" type="text" class="form-control"
                    [(ngModel)]="nonEnergyBenefit.name" minlength="1" maxlength="42"
                    id="{{'nebName'+nonEnergyBenefit.guid}}" (input)="saveChanges()">
            </div>
        </div>
    </ng-template>
    <div class="row mb-2">
        <label class="col-sm-5 col-form-label" for="{{'costImpact'+nonEnergyBenefit.guid}}">Financial Benefit</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input type="number" class="form-control" [(ngModel)]="nonEnergyBenefit.costImpact"
                    name="{{'costImpact'+nonEnergyBenefit.guid}}" id="{{'costImpact'+nonEnergyBenefit.guid}}"
                    (input)="saveChanges()">
                <span class="input-group-text">
                    &dollar;/yr
                </span>
            </div>
        </div>
    </div>

    <div class="row mb-1">
        <div class="col-sm-12 col-form-label">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch"
                    id="{{'includeNEBNote'+nonEnergyBenefit.guid}}" [(ngModel)]="nonEnergyBenefit.includeNote"
                    name="{{'includeNEBNote'+nonEnergyBenefit.guid}}" (input)="saveChanges()">
                <label class="form-check-label" for="{{'includeNEBNote'+nonEnergyBenefit.guid}}">Non-Energy Benefit
                    Notes</label>
            </div>
        </div>
        <div class="col-sm-12" *ngIf="nonEnergyBenefit.includeNote">
            <textarea name="nebNotes" type="number" class="form-control" [(ngModel)]="nonEnergyBenefit.notes"
                id="nebNotes"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>

    <h6>
        <div class="d-flex w-100 justify-content-between">
            <div class="mt-auto bold">
                Performance Metric Impacts
            </div>
            <div>
                <app-performance-metrics-modal [nonEnergyBenefit]="nonEnergyBenefit"></app-performance-metrics-modal>
            </div>
        </div>
    </h6>
    <p class="fw-light small">
        Fill out the impacts on company performance metrics (<fa-icon [icon]="faScaleUnbalancedFlip"></fa-icon>) that
        can be associated with this Non-energy Benefit. Click the "Search Performance Metrics" button and a modal will
        appear to find and add
        performance metrics that are typically associated with this NEB.
    </p>
    <div class="row">
        <div class="col">
            <hr class="metric-hr mt-0">
        </div>
    </div>

    <ng-template [ngIf]="performanceMetricImpactGuids.length > 0" [ngIfElse]="noIncludedMetricsBlock">
        <div class="metric-block">
            <ng-container *ngFor="let impactGuid of performanceMetricImpactGuids">
                <app-performance-metric-impact-form [impactGuid]="impactGuid"
                    [nonEnergyBenefit]="nonEnergyBenefit"></app-performance-metric-impact-form>
                <div class="row">
                    <div class="col">
                        <hr class="metric-hr">
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-template>
    <ng-template #noIncludedMetricsBlock>
        <div class="alert alert-info">
            No performance metrics tracked for this NEB.
        </div>
    </ng-template>

</form>
<!--END FORM-->

<!--DELETE MODAL-->
<div [ngClass]="{'window-overlay': displayDeleteModal}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteModal }">
    <div class="popup-header">Discard this NEB?
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeDeleteModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-info">
            Are you sure you want to discard this NEB?
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary btn-sm me-2" (click)="closeDeleteModal()">Cancel</button>
        <button class="btn btn-danger btn-sm" (click)="deleteNonEnergyBenefit()"><fa-icon [icon]="faTrash"
                class="me-1"></fa-icon>Discard NEB</button>
    </div>
</div>