/* .card{
    border: solid #186A3B;
} */

.card-header {
    background-color: #186A3B !important;
}

.card-footer {
    background-color: white;
}


.btn-sm {
    font-size: small;
}

.alert-info {
    padding: .25rem;
}

ul {
    list-style: none;
    /* padding-left: 0; */
}

.click-link {
    text-decoration: none;
}

.popup.metric-popup {
    left: 4px;
    right: 4px;
    top: 4px;
    width: auto;
}

.popup.metric-popup .popup-body {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.clickable:hover{
    cursor: pointer;
}
.metric-hr{
    border-style: dashed;
    /* margin-top: 0; */
}


.metric-block{
    padding-left: 1rem;
    padding-right: 1rem;
}