<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faDiagramProject"></fa-icon> End Use Inventory
                </h5>
                <hr>
                <div class="d-flex w-100 justify-content-end pb-2">
                    <div class="p-0">
                        <button class="btn btn-outline-success btn-sm" (click)="addEquipment()">
                            <fa-icon [icon]="faPlus" class="pe-1"></fa-icon>
                            Add Equipment
                        </button>
                    </div>
                </div>
                <ng-template [ngIf]="processEquipmentGuids.length != 0" [ngIfElse]="noProcessEquipmentBlock">
                    <div class="accordion" id="equipmentAccordion">
                        <div class="accordion-item"
                            *ngFor="let processEquipmentGuid of processEquipmentGuids; let equipmentIndex = index;">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    [attr.data-bs-target]="'#'+processEquipmentGuid" aria-expanded="true"
                                    [attr.aria-controls]="processEquipmentGuid"
                                    [ngClass]="{'collapsed': accordionIndex != equipmentIndex}"
                                    (click)="setAccordionIndex(equipmentIndex)">
                                    <fa-icon class="pe-1" [icon]="faSplotch"></fa-icon>
                                    {{processEquipmentGuid | processEquipmentDisplay: processEquipments}}
                                </button>
                            </h2>
                            <div [id]="processEquipmentGuid" class="accordion-collapse collapse"
                                data-bs-parent="#equipmentAccordion"
                                [ngClass]="{'show': accordionIndex == equipmentIndex}">
                                <div class="accordion-body">
                                    <app-process-equipment-form
                                        [processEquipmentGuid]="processEquipmentGuid"></app-process-equipment-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #noProcessEquipmentBlock>
                    <div class="alert alert-info text-center">
                        Empty end use inventory. Click "Add Equipment" to end use inventory.
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark btn-sm" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn btn-dark btn-sm" (click)="goToNext()">
            Pre-Assessment
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</nav>