<div class="row justify-content-center pt-3">
    <div class="col-lg-8 col-sm-12">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/user'">Dashboard</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="'/user/company/'+selectedFacility.companyId">
                                {{selectedFacility.companyId | companyName}}</a></li>
                        <li class="breadcrumb-item active">{{selectedFacility.name}}</li>
                    </ol>
                </nav>
            </div>
            <div class="d-flex">
                <div class="m-1">
                    <button class="btn btn-sm btn-primary" (click)="addProject()">Add Project</button>
                </div>
                <div class="m-1">
                    <button class="btn btn-sm btn-secondary" [disabled]="true">Import Data</button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <app-projects-list></app-projects-list>
            </div>
            <div class="col-4">
                <app-facility-details-form></app-facility-details-form>
            </div>
        </div>
    </div>
</div>