<div class="card">
    <div class="card-header">
        <span class="h4">
            <fa-icon [icon]="faFileLines"></fa-icon>
            Assessments
        </span>
        <button class="btn btn-sm btn-success float-end" (click)="openAddNewModal()">
            <fa-icon [icon]="faWandMagicSparkles"></fa-icon> Setup Wizard
        </button>
    </div>
    <div class="card-body">

        <ng-template [ngIf]="assessments.length > 0" [ngIfElse]="noAssessmentBlock">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="w-25">
                            Name
                        </th>
                        <th class="w-25">
                            Company
                        </th>
                        <th class="w-25">
                            Facility
                        </th>
                        <th class="w-25">
                            Visit Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let assessment of assessments">
                        <td>
                            <a [routerLink]="'/assessment/'+assessment.guid">
                                {{assessment.name}}
                            </a>
                        </td>
                        <td>
                            {{assessment.companyId | companyName:companies}}
                        </td>
                        <td>
                            {{assessment.facilityId | facilityName:facilities}}
                        </td>
                        <td>
                            <a class="click-link" (click)="goToVisit(assessment)">
                                {{assessment.visitDate | date:'shortDate'}}
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </ng-template>

        <ng-template #noAssessmentBlock>
            <div class="alert alert-info">
                No assessments found. Please use the "Setup Wizard" to get started.
            </div>
        </ng-template>
    </div>
</div>