<form>
    <div class="row mb-2">
        <div class="col-6">
            <ng-template [ngIf]="keyPerformanceIndicator.optionValue == 'other'" [ngIfElse]="nonCustomBlock">
                <input name="{{'kpiName_'+keyPerformanceIndicator.guid}}" type="text" class="form-control"
                    [(ngModel)]="keyPerformanceIndicator.label" id="{{'kpiName_'+keyPerformanceIndicator.guid}}">
            </ng-template>
            <ng-template #nonCustomBlock>
                <span [innerHTML]="keyPerformanceIndicator.htmlLabel"></span>
            </ng-template>
        </div>
        <div class="col-6">
            <ng-template [ngIf]="keyPerformanceIndicator.optionValue == 'other'" [ngIfElse]="nonCustomBlock2">

                <select class="form-select" name="kpiCategory" id="kpiCategory"
                    [(ngModel)]="keyPerformanceIndicator.primaryKPI">
                    <option *ngFor="let primaryKPI of primaryKPIs" [ngValue]="primaryKPI">
                            {{primaryKPI}}
                    </option>
                </select>
            </ng-template>
            <ng-template #nonCustomBlock2>
                <span class="badge"
                    [ngStyle]="{'background-color':keyPerformanceIndicator.primaryKPI | kpiCategoryClass}">
                    {{keyPerformanceIndicator.primaryKPI}}
                </span>
            </ng-template>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-6 col-form-label" for="performanceMetric">Performance Metric</label>
        <div class="col-sm-6">
            <select class="form-select" name="performanceMetric" id="performanceMetric"
                [(ngModel)]="keyPerformanceIndicator.performanceMetricValue">
                <option *ngFor="let keyPerformanceMetric of (keyPerformanceIndicator.optionValue | kpiMetricsList)"
                    [ngValue]="keyPerformanceMetric.value">
                    <span [innerHTML]="keyPerformanceMetric.htmlLabel"></span>
                </option>
            </select>
        </div>
    </div>
</form>