<h5 class="bold w-100 text-center">
    <fa-icon [icon]="faChartBar" class="me-2"></fa-icon> Key Performance Indicators
</h5>
<div class="row">
    <div class="col-lg-6 col-md-12 pb-2" *ngFor="let kpi of (company.guid | companyKpiList:keyPerformanceIndicators)">
        <div class="card">
            <div class="card-header">
                <fa-icon [icon]="faBullseye" class="pe-1"></fa-icon>
                <span [innerHTML]="kpi.htmlLabel"></span>
            </div>
            <div class="card-body">

                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td class="w-50">
                                KPI Category
                            </td>
                            <td>
                                <span class="badge" [ngStyle]="{'background-color':kpi.primaryKPI | kpiCategoryClass}">
                                    {{kpi.primaryKPI}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>