<nav class="navbar">
    <div class="container-fluid">
        <div>
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation" (click)="openSidebar()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a [style]="{'color': 'white'}" class="navbar-brand ms-2" routerLink="/welcome">
                <fa-icon [icon]="faHome" [style]="{'color': 'white'}"></fa-icon>
                NEB Tool</a>
            <span class="badge bg-secondary">v{{version}}</span>
        </div>
        <div>
            <button class="btn btn-primary btn-sm me-2" (click)="openImportDataModel()">
                <fa-icon [icon]="faUpload"></fa-icon>
                Import Data
            </button>
            <button class="btn btn-primary btn-sm me-2" (click)="backupData()">
                <fa-icon [icon]="faDownload"></fa-icon>
                Download Data
            </button>
            <button class="btn btn-danger btn-sm" (click)="openResetDatabaseModal()">
                Reset Database
            </button>
        </div>
    </div>
</nav>


<div [ngClass]="{'window-overlay': showResetModal}"></div>
<div class="popup" [ngClass]="{'open': showResetModal }">
    <div class="popup-header">Reset Your Database
        <button type="button" class="btn-close float-end" aria-label="Close"
            (click)="closeResetDatabaseModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-danger">
            Are you sure you want to reset your data? This cannot be undone.
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeResetDatabaseModal()">Cancel</button>
        <button class="btn btn-danger" (click)="resetDatabase()">Reset Database</button>
    </div>
</div>

<app-import-backup-modal></app-import-backup-modal>