<nav class="navbar bg-primary">
    <div class="container-fluid">
        <a [style]="{'color': 'white'}" class="navbar-brand" routerLink="/welcome">
            <fa-icon [icon]="faHome" [style]="{'color': 'white'}"></fa-icon>
            NEB Tool</a> <!--TODO: hide reset database in production once app is further along and has real users-->
        <div>
            <button class="btn btn-danger" (click)="openResetDatabaseModal()">
                Reset Database
            </button>
        </div>
    </div>
</nav>


<div [ngClass]="{'window-overlay': showResetModal}"></div>
<div class="popup" [ngClass]="{'open': showResetModal }">
    <div class="popup-header">Reset Your Database
        <button type="button" class="btn-close float-end" aria-label="Close"
            (click)="closeResetDatabaseModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-danger">
            Are you sure you want to reset your data? This cannot be undone.
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeResetDatabaseModal()">Cancel</button>
        <button class="btn btn-danger" (click)="resetDatabase()">Reset Database</button>
    </div>
</div>