<!-- <div class="row">
    <div class="col-12 pb-2 pt-4">
        <!-- <app-projects-table></app-projects-table> --
        <app-assessments-table></app-assessments-table>
    </div>
    <div class="col-6">
        <app-companies-table></app-companies-table>
    </div>
    <div class="col-6">
        <app-facilities-table></app-facilities-table>
    </div>
</div> -->


<div class="row pt-4 justify-content-center">
    <div class="col-lg-9 col-md-12">
        <div class="alert alert-dark">
            Portfolio details here...
        </div>
    </div>
</div>