.navbar{
    width: 20rem;
    background-color: #ffffff;
    overflow-y: auto;
    /* height: 100%; */
    /* max-height: 100%; */
    flex-wrap: nowrap;
}

.navbar.collapsed{
    width: auto;
}

.nav-item{
    width: 100%;
    font-size: large;
}

.nav-item.section-header{
    font-size: x-large;
}

.nav-link{
    padding-left: .5rem;
}

.nav-link.secondary-nav{
    padding-left: 1.5rem;
}

.nav-link.third-nav{
    padding-left: 3rem;
}

.nav-link.active{
    background-color: #0079c2;
    color: white;
}

.nav-link:hover{
    background-color: #8DABBE;
    color: black;
}


.text-end{
    text-align: right;
}

.toggle-collapse{
    font-size: x-large;
}

.toggle-collapse:hover{
    cursor: pointer;
    border: so;
}

.btn.text-left{
    text-align: left;
}

.nav-link:hover{
    cursor: pointer;
}