<div *ngIf="displaySidebar" class="h-100 navbar d-flex flex-column align-items-start justify-content-start shadow"
    [ngClass]="{'collapsed': !sidebarOpen}">

    <div class="ps-1 pe-1 w-100 pb-2">
        <div class="text-end toggle-collapse">
            <button class="btn btn-sm btn-outline-secondary" (click)="toggleSidebar()">
                <fa-icon *ngIf="sidebarOpen" [icon]="faMinimize"></fa-icon>
                <fa-icon *ngIf="!sidebarOpen" [icon]="faMaximize"></fa-icon>
            </button>
        </div>
    </div>
    <ng-container *ngIf="onSiteVisit">
        <div class="ps-1 pe-1 w-100" [hidden]="!sidebarOpen">
            <button class="btn btn-dark w-100 text-left" (click)="toggleCollapsePrevisit()">
                <fa-icon [icon]="faChevronDown" class="pe-1" *ngIf="collapsePreVisit"></fa-icon>
                <fa-icon [icon]="faChevronUp" class="pe-1" *ngIf="!collapsePreVisit"></fa-icon>
                Pre-Visit
            </button>
            <div [ngClass]="{'collapse': collapsePreVisit}">
                <div class="nav-item ms-2">
                    Company Setup
                </div>
                <div class="nav-item">
                    <a class="nav-link secondary-nav" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/company-setup'"
                        [routerLinkActive]="['active']">
                        General Details
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link secondary-nav" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/company-contacts'"
                        [routerLinkActive]="['active']">
                        Stakeholder Contacts
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link secondary-nav" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/company-kpi-select'"
                        [routerLinkActive]="['active']">
                        Select KPIs
                    </a>
                </div>

                <div class="nav-item" *ngFor="let kpi of (company.guid | companyKpiList: keyPerformanceIndicators)">
                    <a class="nav-link third-nav"
                        [routerLink]="'pre-visit/'+onSiteVisit.guid+'/company-kpi-detail/' + kpi.guid"
                        [routerLinkActive]="['active']">
                        <span [innerHTML]="kpi.htmlLabel"></span>
                    </a>
                </div>
                <div class="nav-item ms-2">
                    Facility Setup
                </div>
                <div class="nav-item">
                    <a class="nav-link secondary-nav" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/facility-setup'"
                        [routerLinkActive]="['active']">
                        General Details
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link secondary-nav" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/energy-equipment'"
                        [routerLinkActive]="['active']">
                        Industrial System Inventory
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link secondary-nav" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/process-equipment'"
                        [routerLinkActive]="['active']">
                        End Use Inventory
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/pre-assessment'"
                        [routerLinkActive]="['active']">
                        Pre-Assessments
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" [routerLink]="'pre-visit/'+onSiteVisit.guid+'/review-pre-visit'"
                        routerLink="review-pre-visit" [routerLinkActive]="['active']">
                        Review Pre-Visit
                    </a>
                </div>
            </div>
        </div>
        <div class="p-2 w-100">
            <hr class="my-1">
        </div>

        <div class="ps-1 pe-1 w-100" [hidden]="!sidebarOpen">
            <button class="btn btn-dark w-100 text-left" (click)="toggleCollapseDataCollection()">
                <fa-icon [icon]="faChevronDown" class="pe-1" *ngIf="collapseDataCollection"></fa-icon>
                <fa-icon [icon]="faChevronUp" class="pe-1" *ngIf="!collapseDataCollection"></fa-icon>
                Data Collection
            </button>
            <div [ngClass]="{'collapse': collapseDataCollection}">
                <div class="nav-item">
                    <a class="nav-link" [routerLink]="'data-collection/'+onSiteVisit.guid+'/manage-assessments/'"
                        [routerLinkActive]="['active']">
                        Manage Assessments
                    </a>
                </div>
                <ng-container *ngFor="let assessmentGuid of onSiteVisit.assessmentIds">
                    <div class="nav-item">
                        <a class="nav-link"
                            [routerLink]="'data-collection/'+onSiteVisit.guid+'/assessment/'+assessmentGuid"
                            [routerLinkActive]="['active']">
                            {{assessmentGuid | assessmentNameDisplay: assessments}}
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link secondary-nav"
                            [routerLink]="'data-collection/'+onSiteVisit.guid+'/assessment/'+assessmentGuid+'/details'"
                            [routerLinkActive]="['active']">
                            Details
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link secondary-nav"
                            [routerLink]="'data-collection/'+onSiteVisit.guid+'/assessment/'+assessmentGuid+'/energy-opportunities'"
                            [routerLinkActive]="['active']">
                            Energy Efficiency Opportunities
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link secondary-nav"
                            [routerLink]="'data-collection/'+onSiteVisit.guid+'/assessment/'+assessmentGuid+'/nebs'"
                            [routerLinkActive]="['active']">
                            NEBs
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link secondary-nav"
                            [routerLink]="'data-collection/'+onSiteVisit.guid+'/assessment/'+assessmentGuid+'/results'"
                            [routerLinkActive]="['active']">
                            Results
                        </a>
                    </div>
                </ng-container>
                <div class="nav-item">
                    <a class="nav-link" [routerLink]="'data-collection/'+onSiteVisit.guid+'/review-data-collection'"
                        [routerLinkActive]="['active']">
                        Preliminary Results
                    </a>
                </div>
            </div>
            <div class="p-2 w-100">
                <hr class="my-1">
            </div>
        </div>
        <div class="ps-1 pe-1 w-100" [hidden]="!sidebarOpen">
            <button class="btn btn-dark w-100 text-left" (click)="toggleCollapseDataEvaluation()">
                <fa-icon [icon]="faChevronDown" class="pe-1" *ngIf="collapseDataEvaluation"></fa-icon>
                <fa-icon [icon]="faChevronUp" class="pe-1" *ngIf="!collapseDataEvaluation"></fa-icon>
                Data Evaluation
            </button>
            <div [ngClass]="{'collapse': collapseDataEvaluation}">
                <div class="nav-item">
                    <a class="nav-link" [routerLink]="'data-evaluation/'+onSiteVisit.guid+'/follow-up'"
                        [routerLinkActive]="['active']">
                        Follow-up
                    </a>
                </div>
                <ng-container *ngFor="let assessmentGuid of onSiteVisit.assessmentIds">
                    <div class="nav-item">
                        <a class="nav-link"
                            [routerLink]="'data-evaluation/'+onSiteVisit.guid+'/assessment-report/'+assessmentGuid"
                            [routerLinkActive]="['active']">
                            {{assessmentGuid | assessmentNameDisplay: assessments}} Report
                        </a>
                    </div>
                </ng-container>
                <div class="nav-item">
                    <a class="nav-link" [routerLink]="'data-evaluation/'+onSiteVisit.guid+'/visit-report'"
                        [routerLinkActive]="['active']">
                        Rollup Report
                    </a>
                </div>
            </div>
            <div class="p-2 w-100">
                <hr class="my-1">
            </div>
        </div>
    </ng-container>
    <div class="nav-item" [hidden]="!sidebarOpen">
        <a class="nav-link bold" (click)="openStartOverModal()">
            <fa-icon [icon]="faFolderOpen"></fa-icon>
            Return to Portfolio</a>
    </div>
</div>


<div [ngClass]="{'window-overlay': displayStartOverModal}"></div>
<div class="popup" [ngClass]="{'open': displayStartOverModal }">
    <div class="popup-header">Go to Portfolio
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeStartOverModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-info p-1">
            Are you sure you would like to leave the wizard?
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary btn-sm me-2" (click)="closeStartOverModal()">Cancel</button>
        <button class="btn btn-success btn-sm" (click)="confirmStartOver()"><fa-icon [icon]="faFolderOpen"></fa-icon>
            Return to Portfolio</button>
    </div>
</div>