<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faAddressBook" class="me-2"></fa-icon>Stakeholder Contacts
                </h5>
                <hr>
                <div class="d-flex w-100 justify-content-end pb-2">
                    <div class="p-0">
                        <button class="btn btn-outline-success btn-sm" (click)="addContact()">
                            <fa-icon [icon]="faPlus"></fa-icon>
                            Add Stakeholder
                        </button>
                    </div>
                </div>
                <ng-template [ngIf]="companyContactGuids.length > 0" [ngIfElse]="noContactsBlock">
                    <div class="accordion" id="contactAccordion">
                        <div class="accordion-item"
                            *ngFor="let contactGuid of companyContactGuids; let index = index; let last = last;">
                            <app-company-contacts-form [contactGuid]="contactGuid" [accordionGuid]="accordionGuid"
                                (emitInitialized)="childFormInitialized(contactGuid, last)"></app-company-contacts-form>
                        </div>
                    </div>
                </ng-template>
                <ng-template #noContactsBlock>
                    <div class="alert alert-warning">
                        No stakeholder contacts added for this company. Click "<fa-icon [icon]="faPlus"></fa-icon> Add
                        Stakeholder"
                        to add a contact to this company.
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark btn-sm" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn btn-dark btn-sm" (click)="goToKPIs()" [disabled]="hasInvalidContacts">
            Select KPIs
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</nav>
<div [ngClass]="{'window-overlay': routeGuardWarningModal}"></div>
<div class="popup" [ngClass]="{'open': routeGuardWarningModal }">
    <div class="popup-body">
        <div class="alert alert-danger">
            Please fill the required fields.
        </div>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeWarningModal()">OK</button>
    </div>
</div>