<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faAddressBook" class="me-2"></fa-icon>Team Details
                </h5>
                <hr>
                <div class="d-flex w-100 justify-content-end pb-2">
                    <div class="p-0">
                        <button class="btn btn-outline-success" (click)="addContact()">
                            <fa-icon [icon]="faPlus"></fa-icon>
                            Add Team Member
                        </button>
                    </div>
                </div>
                <ng-template [ngIf]="companyContactGuids.length > 0" [ngIfElse]="noContactsBlock">
                    <div class="accordion" id="contactAccordion">
                        <div class="accordion-item" *ngFor="let contactGuid of companyContactGuids; let index = index;">
                            <app-company-contacts-form [contactGuid]="contactGuid" [contactIndex]="index"
                                [accordionIndex]="accordionIndex"></app-company-contacts-form>
                        </div>
                    </div>
                </ng-template>
                <ng-template #noContactsBlock>
                    <div class="alert alert-warning">
                        No contacts added for this company. Click "<fa-icon [icon]="faPlus"></fa-icon> Add Team Member"
                        to add a contact to this company.
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn btn-dark" (click)="goToKPIs()" [disabled]="hasInvalidContacts">
            Company KPI's
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</nav>