<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faAddressBook" class="me-2"></fa-icon>Team Details
                </h5>
                <hr>
                <div class="d-flex w-100 justify-content-end pb-2">
                    <div class="p-0">
                        <button class="btn btn-outline-success btn-sm" (click)="addContact()">
                            <fa-icon [icon]="faPlus"></fa-icon>
                            Add Team Member
                        </button>
                    </div>
                </div>
                <ng-template [ngIf]="companyContacts.length > 0" [ngIfElse]="noContactsBlock">
                    <div class="accordion" id="contactAccordion">
                        <div class="accordion-item" *ngFor="let contact of companyContacts; let index = index;">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    [attr.data-bs-target]="'#'+contact.guid" aria-expanded="true"
                                    [attr.aria-controls]="contact.guid"
                                    [ngClass]="{'collapsed': accordionIndex != index}"
                                    (click)="setAccordionIndex(index)">
                                    <fa-icon [icon]="faUser" class="pe-1"></fa-icon>
                                    {{contact.name}}
                                </button>
                            </h2>
                            <div [id]="contact.guid" class="accordion-collapse collapse"
                                data-bs-parent="#contactAccordion" [ngClass]="{'show': accordionIndex == index}">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <form>
                                                <div class="row">
                                                    <label class="col-sm-5 col-form-label" for="name">Name</label>
                                                    <div class="col-sm-7">
                                                        <input name="name" type="text" class="form-control"
                                                            [(ngModel)]="contact.name" id="name"
                                                            (input)="saveChanges(contact)">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-5 col-form-label" for="phone">Phone
                                                        Number</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <input type="tel" class="form-control"
                                                                [(ngModel)]="contact.phone"
                                                                (input)="saveChanges(contact)" minlength="1"
                                                                maxlength="10" id="phone" name="phone">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-5 col-form-label" for="email">Email</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <input type="email" class="form-control"
                                                                [(ngModel)]="contact.email"
                                                                (input)="saveChanges(contact)" minlength="1"
                                                                maxlength="85" id="email" name="email">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-5 col-form-label" for="role">Role</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"
                                                                [(ngModel)]="contact.role"
                                                                (input)="saveChanges(contact)" minlength="1"
                                                                maxlength="85" id="role" name="role">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-5 col-form-label" for="team">Team</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"
                                                                [(ngModel)]="contact.team"
                                                                (input)="saveChanges(contact)" minlength="1"
                                                                maxlength="85" id="team" name="team">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-5 col-form-label" for="focusArea">Focus
                                                        Area</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"
                                                                [(ngModel)]="contact.focusArea"
                                                                (input)="saveChanges(contact)" minlength="1"
                                                                maxlength="85" id="focusArea" name="focusArea">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-5 col-form-label" for="notes">Notes</label>
                                                    <div class="col-sm-7">
                                                        <textarea class="form-control" name="notes"
                                                            [(ngModel)]="contact.notes"
                                                            (input)="saveChanges(contact)"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-12">
                                            <hr>
                                        </div>
                                        <div class="col-12 text-end">
                                            <button class="btn btn-sm btn-danger" (click)="openDeleteModal(contact)">
                                                <fa-icon [icon]="faTrash"></fa-icon> Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #noContactsBlock>
                    <div class="alert alert-warning">
                        No contacts added for this company. Click "<fa-icon [icon]="faPlus"></fa-icon> Add Team Member"
                        to add a contact to this company.
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark btn-sm" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn btn-dark btn-sm" (click)="goToKPIs()">
            Company KPI's
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</nav>

<div [ngClass]="{'window-overlay': displayDeleteModal}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteModal }">
    <div class="popup-header">Delete Contact
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeDeleteModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-danger">
            Are you sure you want to delete this contact? Changes will be lost.
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeDeleteModal()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteContact()"><fa-icon [icon]="faTrash"></fa-icon> Delete
            Contact</button>
    </div>
</div>