<div class="row justify-content-center pt-3">
    <div class="col-lg-8 col-sm-12">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/user'">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <fa-icon class="pe-1" [icon]="faBuilding"></fa-icon>
                            {{selectedCompany.generalInformation.name}}
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="d-flex">
                <div class="m-1">
                    <button class="btn btn-sm btn-danger" (click)="deleteCompany()">Delete Company</button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="h4 pt-2">
                    Company Details</div>
                <app-settings-form [inCompany]="true"></app-settings-form>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12">
                <div class="h4 pt-2">
                    Company Goals</div>
                <app-company-goals></app-company-goals>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12">
                <app-facilities-list></app-facilities-list>
            </div>
        </div>
    </div>
</div>