<!-- <div class="row justify-content-center">
    <div class="col-md-12 col-lg-9 pt-4 pb-2">
        <nav class="navbar border-bottom">
            <h4 class="mb-0">{{selectedCompany.generalInformation.name}}</h4>
            <div class="float-end">
                <button class="btn btn-secondary btn-sm">Import</button>
                <button class="btn btn-secondary btn-sm ms-2">Export</button>
            </div>
        </nav>
    </div>
    <div class="col-md-12 col-lg-9">
        <app-assessments-table></app-assessments-table>
    </div>
    <div class="col-md-12 col-lg-9">
        <hr>
    </div>
    <div class="col-md-12 col-lg-9">
        <app-facilities-table></app-facilities-table>
    </div>
</div> -->


<div class="row pt-4 justify-content-center">
    <div class="col-lg-9 col-md-12">
        <div class="alert alert-dark">
            Company details here...
        </div>
    </div>
</div>