<div class="h4 pt-2">Facility Details</div>

<div class="row">
    <div class="col-12">
        <app-settings-form [inCompany]="false"></app-settings-form>
    </div>
    <!-- <div class="col-8">
        <app-general-information-form [inCompany]="false"></app-general-information-form>
    </div>
    <div class="col-4">
        <app-units-form [inCompany]="false"></app-units-form>
    </div> -->
    <!-- <div class="col-12 mt-2 text-end">
        Last modified: {{facility.modifiedDate | date:'medium'}}
    </div> -->
</div>
<hr>