<ng-container *ngIf="(assessment.guid | energyOpportunityNebsList: energyOpportunities: nonEnergyBenefits).length > 0">
    <h6>
        <div class="mt-auto bold">
            Energy Efficiency Opportunity NEBs
        </div>
    </h6>
    <p class="fw-light small">
        Below are the Non-Energy Benefits added to "{{assessment.name}}" that <span class="bold">are associated with
            specific energy efficiency opportunities</span>.
    </p>
    <table class="table table-sm table-borderless">
        <tbody>
            <ng-container
                *ngFor="let energyOpportunityNebs of (assessment.guid | energyOpportunityNebsList: energyOpportunities: nonEnergyBenefits)">
                <tr>
                    <td>
                        <fa-icon class="pe-2" [icon]="faFileLines"></fa-icon>
                        {{energyOpportunityNebs.energyOpportunity.name}}
                    </td>
                </tr>
                <tr *ngFor="let neb of energyOpportunityNebs.opportunityNebs">
                    <td class="ps-4">
                        <fa-icon [icon]="faWeightHanging"></fa-icon>
                        {{neb.name}}
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</ng-container>