
<div class="accordion" id="manageFacilityAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseManageFacility"
                aria-expanded="true" aria-controls="collapseManageFacility" [ngClass]="{'collapsed': !accordionOpen}"
                (click)="toggleAccordion()">
                <fa-icon [icon]="faPenToSquare" class="me-2"></fa-icon>
                Manage Facility
            </button>
        </h2>
        <div id="collapseManageFacility" class="accordion-collapse collapse" data-bs-parent="#manageFacilityAccordion"
            [ngClass]="{'show': accordionOpen}">
            <div class="accordion-body">
                <button class="btn btn-danger" (click)="openDeleteModal()">
                    <fa-icon [icon]="faTrash"></fa-icon> Delete Facility
                </button>
            </div>
        </div>
    </div>
</div>



<div [ngClass]="{'window-overlay': displayDeleteModal}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteModal }">
    <div class="popup-header">Facility Facility?
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeDeleteModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-info">
            Are you sure you want to delete <b>{{facility.generalInformation.name}}</b>?
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeDeleteModal()">Cancel</button>
        <button class="btn btn-danger" (click)="confirmDelete()">Confirm Delete</button>
    </div>
</div>