<a class="h6 click-link mt-2" (click)="toggleDisplayTable()">
    <fa-icon [icon]="displayTable ? faChevronDown : faChevronRight"></fa-icon>
    Potential Impacts
</a>
<table class="table table-bordered table-sm" [ngClass]="{'collapse': !displayTable}">
    <thead>
        <tr class="table-dark">
            <td class="w-25">
                <fa-icon [icon]="faScrewdriverWrench" class="me-1"></fa-icon>
                Assessment
            </td>
            <td class="w-25">
                <fa-icon [icon]="faFileLines" class="me-1"></fa-icon>
                Energy Efficiency Opportunity
            </td>
            <td class="w-25">
                <fa-icon [icon]="faWeightHanging" class="me-1"></fa-icon>
                NEB
            </td>
            <td class="w-25">
                <fa-icon [icon]="faDollar" class="me-1"></fa-icon>
                Impact
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let kpmImpact of keyPerformanceMetricImpacts | keyPerformanceMetricImpactsList: kpmGuid">
            <td>
                {{kpmImpact.assessmentId | assessmentNameDisplay: assessments}}
            </td>
            <td>
                <ng-template [ngIf]="kpmImpact.energyOpportunityId" [ngIfElse]="noOppBlock">
                    {{kpmImpact.energyOpportunityId | energyOpportunityDisplay: energyOpportunities}}
                </ng-template>
                <ng-template #noOppBlock>
                    &mdash;
                </ng-template>
            </td>
            <td>
                <ng-template [ngIf]="kpmImpact.nebId" [ngIfElse]="noNebBlock">
                    {{kpmImpact.nebId | nebDisplay: nonEnergyBenefits}}
                </ng-template>
                <ng-template #noNebBlock>
                    &mdash;
                </ng-template>
            </td>
            <td>
                <ng-template [ngIf]="kpmImpact.modificationValue" [ngIfElse]="noChangeBlock">
                    {{kpmImpact.costAdjustment | currency}}/yr
                </ng-template>
                <ng-template #noChangeBlock>
                    &mdash;
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>