<div class="row">
    <div class="col-12">
        <h6>
            <fa-icon [icon]="faMagnifyingGlassPlus" class="me-2"></fa-icon>
            Find Common KPI's
        </h6>
    </div>
</div>
<div class="row mb-2">
    <div class="col-6">
        <div class="input-group" role="search">
            <span class="input-group-text">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </span>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="kpiSearchStr"
                [(ngModel)]="kpiSearchStr">
        </div>
    </div>
    <div class="col-6">
        <select name="kpiCategorySearch" class="form-select" id="kpiCategorySearch" [(ngModel)]="kpiCategorySearch">
            <option [ngValue]="undefined">All Categories</option>
            <option *ngFor="let category of primaryKPIs" [ngValue]="category">
                {{category}}
            </option>
        </select>
    </div>
</div>
<div class="list-group">
    <div class="list-group-item list-group-item-action"
        *ngFor="let option of keyPerformanceIndicatorOptions | kpiListFilter: kpiSearchStr: kpiCategorySearch"
        (click)="addKPI(option)"
        [ngClass]="{'hidden': option.optionValue | selectedKpiOption: keyPerformanceIndicators: company.guid }">
        <div class="list-item-content d-flex w-100 justify-content-between">
            <div>
                <span [innerHTML]="option.label"></span>
            </div>
            <div>
                <span class="badge" [ngStyle]="{'background-color':option.primaryKPI | kpiCategoryClass}">
                    {{option.primaryKPI}}
                </span>
            </div>

        </div>
    </div>
</div>