<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="home" [routerLinkActive]="['active']">
            <fa-icon [icon]="faFolderOpen"></fa-icon> 
            My Portfolio
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="nebs-database" [routerLinkActive]="['active']">
            <fa-icon [icon]="faDatabase"></fa-icon> 
            Explore NEBs
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="help" [routerLinkActive]="['active']">
            <fa-icon [icon]="faQuestion"></fa-icon> 
            Help
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="settings" [routerLinkActive]="['active']">
            <fa-icon [icon]="faGears"></fa-icon> 
            Settings
        </a>
    </li>
    
    
</ul>