<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/user'">
            <fa-icon [icon]="faFolderOpen"></fa-icon>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/company/'+project.companyId">
            <fa-icon [icon]="faBuilding"></fa-icon>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="'/facility/'+project.facilityId" [routerLinkActive]="['active']">
            <fa-icon [icon]="faIndustry"></fa-icon>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="home" [routerLinkActive]="['active']">
            <fa-icon [icon]="faFileLines"></fa-icon>
            {{project.name}}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="reports" [routerLinkActive]="['active']">
            <fa-icon [icon]="faChartLine"></fa-icon>
            Reports
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="settings" [routerLinkActive]="['active']">
            <fa-icon [icon]="faGears"></fa-icon>
            Settings
        </a>
    </li>
</ul>