<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow" *ngIf="keyPerformanceIndicator">
                <h5>
                    <fa-icon [icon]="faBullseye"></fa-icon>
                    <span class="ps-1" [innerHTML]="keyPerformanceIndicator.htmlLabel"></span>
                </h5>
                <hr>
                <form>
                    <ng-template [ngIf]="keyPerformanceIndicator.isCustom">
                        <div class="row">
                            <label class="col-sm-6 col-form-label" for="{{'kpiName_'+keyPerformanceIndicator.guid}}">
                                Performance Indicator Name
                            </label>
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <fa-icon [icon]="faBullseye"></fa-icon>
                                    </div>
                                    <input name="{{'kpiName_'+keyPerformanceIndicator.guid}}" type="text"
                                        class="form-control" [(ngModel)]="keyPerformanceIndicator.label"
                                        id="{{'kpiName_'+keyPerformanceIndicator.guid}}" (input)="saveChanges()">
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <div class="row">
                        <label class="col-sm-6 col-form-label" for="{{'kpiCategory_'+keyPerformanceIndicator.guid}}">
                            KPI Category
                        </label>
                        <div class="col-6">
                            <ng-template [ngIf]="keyPerformanceIndicator.isCustom" [ngIfElse]="indicatorCategory">
                                <select class="form-select" name="kpiCategory"
                                    id="{{'kpiCategory_'+keyPerformanceIndicator.guid}}"
                                    [(ngModel)]="keyPerformanceIndicator.primaryKPI" (change)="saveChanges()">
                                    <option *ngFor="let primaryKPI of primaryKPIs" [ngValue]="primaryKPI">
                                        {{primaryKPI}}
                                    </option>
                                </select>
                            </ng-template>
                            <ng-template #indicatorCategory>
                                <div class="d-flex w-100 justify-content-center">
                                    <app-primary-kpi-badge class="w-100" [kpiOption]="keyPerformanceIndicator"
                                        [fullWidth]="true"></app-primary-kpi-badge>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-6 col-form-label" for="{{'kpiDescription_'+keyPerformanceIndicator.guid}}">
                            KPI Description
                        </label>
                        <div class="col-6">
                            <ng-template [ngIf]="keyPerformanceIndicator.isCustom" [ngIfElse]="indicatorDescription">
                                <textarea class="form-control" name="{{'kpiDescription_'+keyPerformanceIndicator.guid}}"
                                    id="{{'kpiDescription_'+keyPerformanceIndicator.guid}}"
                                    [(ngModel)]="keyPerformanceIndicator.description"
                                    (input)="saveChanges()"></textarea>
                            </ng-template>
                            <ng-template #indicatorDescription>
                                <p>
                                    Lorem ipsum odor amet, consectetuer adipiscing elit. Ex consequat nulla vestibulum
                                    dapibus lectus vestibulum. Ex nisi phasellus tempus himenaeos erat.
                                </p>
                            </ng-template>
                        </div>
                    </div>

                    <div class="row pt-2">
                        <div class="col">
                            <button class="btn btn-sm btn-primary me-1"
                                *ngFor="let contact of keyPerformanceIndicator.guid | associatedContacts:'KPI': contacts;"
                                (click)="openContactModal(contact)">
                                <fa-icon [icon]="faUser"></fa-icon>
                                {{contact | contactNameDisplay}}
                            </button>
                            <button class="btn btn-sm btn-secondary" (click)="openContactModal(undefined)">
                                <fa-icon [icon]="faContactBook"></fa-icon>
                                Stakeholders
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>


                    <h6>
                        <div class="d-flex w-100 justify-content-between">
                            <div class="mt-auto bold">
                                Associated Key Performance Metrics
                            </div>
                            <div>
                                <button class="btn btn-outline-metric btn-sm" (click)="addPerformanceMetric()">
                                    <fa-icon [icon]="faPlus"></fa-icon>
                                    Add New Metric
                                </button>
                            </div>
                        </div>
                    </h6>
                    <p class="fw-light small">
                        The below associated key performance metrics (<fa-icon [icon]="faScaleUnbalancedFlip"></fa-icon>)
                        will be used later on during an assessment to tie Non-Energy Benefits found back to company Key
                        Performance Indicators. This information can be added to and modified at a later time if not all
                        of the details are currently known.
                    </p>
                    <div class="row">
                        <div class="col">
                            <hr class="metric-hr mt-0">
                        </div>
                    </div>
                    <ng-template [ngIf]="keyPerformanceIndicator.performanceMetrics.length > 0"
                        [ngIfElse]="noKpmsBlock">
                        <ng-container *ngFor="let keyPerformanceMetric of keyPerformanceIndicator.performanceMetrics">
                            <div class="metric-block">
                                <div class="dropdown">
                                    <button class="btn btn-outline-metric btn-sm dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false"
                                        (click)="setDropdownMenuGuid(keyPerformanceMetric.guid)">
                                        <fa-icon [icon]="faScaleUnbalancedFlip" class="me-2"></fa-icon>
                                        <span [innerHTML]="keyPerformanceMetric.htmlLabel"></span>
                                    </button>
                                    <ul class="dropdown-menu"
                                        [ngClass]="{'show': dropdownMenuGuid == keyPerformanceMetric.guid}">
                                        <li>
                                            <a class="dropdown-item"
                                                (click)="openDeleteMetricModal(keyPerformanceMetric)">
                                                <fa-icon [icon]="faTrash"></fa-icon>
                                                Remove Metric
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ng-template [ngIf]="keyPerformanceMetric.isCustom">
                                    <div class="row">
                                        <label class="col-sm-6 col-form-label"
                                            for="{{'kpmName_'+keyPerformanceMetric.guid}}">
                                            Performance Metric Name
                                        </label>
                                        <div class="col-6">
                                            <div class="input-group">
                                                <div class="input-group-text">
                                                    <fa-icon [icon]="faScaleUnbalancedFlip"></fa-icon>
                                                </div>
                                                <input name="{{'kpmName_'+keyPerformanceMetric.guid}}" type="text"
                                                    class="form-control" [(ngModel)]="keyPerformanceMetric.label"
                                                    id="{{'kpmName_'+keyPerformanceMetric.guid}}"
                                                    (input)="saveChanges()">
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <app-kpm-details-form [keyPerformanceMetric]="keyPerformanceMetric"
                                    (emitSave)="saveChanges()"
                                    (emitCalculate)="calculateCost(keyPerformanceMetric)"
                                    [context]="'preVisit'"></app-kpm-details-form>
                                <ng-template
                                    [ngIf]="(keyPerformanceMetricImpacts | keyPerformanceMetricImpactsList: keyPerformanceMetric.guid).length">
                                    <div class="mt-3">
                                        <app-kpm-impacts-table
                                            [kpmGuid]="keyPerformanceMetric.guid"></app-kpm-impacts-table>
                                    </div>
                                </ng-template>
                                <div class="row">
                                    <div class="col">
                                        <hr class="metric-hr">
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-template>
                    <ng-template #noKpmsBlock>
                        <div class="alert alert-info text-center">
                            No perfromance metrics connected to this KPI. Click "<fa-icon [icon]="faPlus"></fa-icon>
                            Add New Metric" to add a new performance metric.
                        </div>
                    </ng-template>
                </form>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark btn-sm" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn btn-dark btn-sm" (click)="goNext()">
            <ng-template [ngIf]="indicatorIndex != (numCompanyKpis-1)" [ngIfElse]="facilityDetailsBlock">
                Next KPI
            </ng-template>
            <ng-template #facilityDetailsBlock>
                Facility Details
            </ng-template>
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</nav>



<app-contact-modal *ngIf="displayContactModal" (emitCancelContact)="closeContactModal()"
    [contextGuid]="keyPerformanceIndicator.guid" [contactContext]="'KPI'" [selectedContact]="viewContact"
    [companyGuid]="company.guid"></app-contact-modal>



<div [ngClass]="{'window-overlay': displayDeleteKpmModal}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteKpmModal }">
    <ng-template [ngIf]="kpmToDelete">
        <div class="popup-header">Delete
            <span [innerHTML]="kpmToDelete.htmlLabel"></span>
            <button type="button" class="btn-close float-end" aria-label="Close"
                (click)="closeDeleteKpmModal()"></button>
        </div>
        <div class="popup-body">
            <ng-template
                [ngIf]="(keyPerformanceMetricImpacts | keyPerformanceMetricImpactsList: kpmToDelete.guid).length"
                [ngIfElse]="noImpactsDeleteBlock">
                <div class="alert alert-danger">
                    Are you sure you want to untrack the performance metric:
                    <span class="bold" [innerHTML]="kpmToDelete.htmlLabel"></span>? <br>{{(keyPerformanceMetricImpacts |
                    keyPerformanceMetricImpactsList:
                    kpmToDelete.guid).length}} NEB(s) in your system currently impact this metric. Those impacts will be
                    lost. This cannot be undone.
                </div>
            </ng-template>
            <ng-template #noImpactsDeleteBlock>
                <div class="alert alert-warning">
                    Are you sure you want to untrack this performance metric:
                    <span class="bold" [innerHTML]="kpmToDelete.htmlLabel"></span>?
                </div>
            </ng-template>
            <hr>
        </div>
        <div class="popup-footer d-flex justify-content-end">
            <button class="btn btn-secondary btn-sm me-2" (click)="closeDeleteKpmModal()">Cancel</button>
            <button class="btn btn-danger btn-sm" (click)="untrackMetric()"><fa-icon [icon]="faTrash"></fa-icon> Untrack
                KPM</button>
        </div>
    </ng-template>
</div>