.pm-label{
    padding-left: 2.5rem;
}

.form-block{
    border-left: solid;
}

.alert-block, .form-block{
    margin-left: 2rem;
    margin-right: 2rem;
}

.alert-info{
    padding: .25rem;
}

.metric-hr{
    border-style: dashed;
    /* margin-top: 0; */
}
.text-right{
    text-align: right;
}

a.click-link.click-link-danger{
    color: red;
    text-decoration: none;
}
a.click-link.click-link-danger:hover{
    cursor: pointer;
    text-decoration: underline;
}
