.pm-label{
    padding-left: 2.5rem;
}

.form-block{
    border-left: solid;
}

.alert-block, .form-block{
    margin-left: 2rem;
    margin-right: 2rem;
}

.alert-info{
    padding: .25rem;
}

.metric-hr{
    border-style: dashed;
    /* margin-top: 0; */
    border-width: 2px;
}


.metric-block{
    padding-left: 1rem;
    padding-right: 1rem;
}