<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faChartBar" class="me-2"></fa-icon> Company Key Performance Indicators
                </h5>
                <hr>

                <ng-template [ngIf]="(company.guid | companyKpiList:keyPerformanceIndicators).length != 0"
                    [ngIfElse]="noDataBlock">
                    <div class="d-flex flex-column"
                        *ngFor="let kpi of (company.guid | companyKpiList:keyPerformanceIndicators)">
                        <app-kpi-details-form [keyPerformanceIndicator]="kpi"></app-kpi-details-form>
                        <hr>
                    </div>
                </ng-template>
                <ng-template #noDataBlock>
                    <div class="alert alert-info text-center">
                        No KPI's selected for this company. Add KPI's from the list provided.
                    </div>
                </ng-template>


            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn btn-dark" (click)="goToFacility()">
            Facility Details
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</nav>