<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faCircleCheck"></fa-icon> Review Pre-Visit
                </h5>
                <hr>
                <ng-container *ngIf="company">
                    <app-company-details-summary></app-company-details-summary>
                    <hr>
                    <app-team-details-summary></app-team-details-summary>
                    <hr>
                    <app-company-kpis-summary></app-company-kpis-summary>
                    <hr class="solid-hr">
                    <app-facility-details-summary></app-facility-details-summary>
                    <hr>
                    <app-process-equipment-summary></app-process-equipment-summary>
                    <hr class="solid-hr">
                    <app-pre-assessment-summary></app-pre-assessment-summary>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark btn-sm" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn btn-secondary btn-sm" [disabled]="true">
            <fa-icon [icon]="faFilePdf"></fa-icon>
            Generate PDF
        </button>
        <button class="btn btn-dark btn-sm" (click)="continue()">Data Collection
            <fa-icon [icon]="faChevronRight"></fa-icon></button>
    </div>
</nav>