<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faCircleCheck"></fa-icon> Review Pre-Visit
                </h5>
                <hr>
                <app-company-setup-summary></app-company-setup-summary>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn btn-success" (click)="openConfirmModal()">
            <fa-icon [icon]="faSave"></fa-icon> Submit Pre-Visit
        </button>
    </div>
</nav>



<div [ngClass]="{'window-overlay': displayConfirmModal}"></div>
<div class="popup" [ngClass]="{'open': displayConfirmModal }">
    <div class="popup-header">Submit Pre-Visit
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeConfirmModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-success">
            Are you done with your Pre-Visit?
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeConfirmModal()">Cancel</button>
        <button class="btn btn-success" (click)="submitPreVisit()"><fa-icon [icon]="faSave"></fa-icon> Submit Pre-Visit</button>
    </div>
</div>
