<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faCircleCheck"></fa-icon> Review Pre-Visit
                </h5>
                <hr>
                <!--TODO: Finish adding content..-->
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th class="w-25">
                                Company Name
                            </th>
                            <td>
                                {{company.generalInformation.name}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Address
                            </td>
                            <td>
                                &mdash;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                NAICs
                            </td>
                            <td>
                                <ng-container *ngIf="!company.generalInformation.naics1">
                                    &mdash;
                                </ng-container>
                                <ng-container *ngIf="company.generalInformation.naics1 && !company.generalInformation.naics2 && !company.generalInformation.naics3">
                                    {{company.generalInformation.naics1}}
                                </ng-container>
                                <ng-container *ngIf="company.generalInformation.naics2 && !company.generalInformation.naics3">
                                    {{company.generalInformation.naics2}}
                                </ng-container>
                                <ng-container *ngIf="company.generalInformation.naics3">
                                    {{company.generalInformation.naics3}}
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h6>Company Tracked Utilities</h6>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn btn-success" (click)="submitPreVisit()">
            Submit Pre-Visit
        </button>
    </div>
</nav>