<div class="container-fluid dashboard">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <fa-icon [icon]="faFolderOpen"></fa-icon>
                        JUSTIFI Portfolio
                    </div>
                    <p class="card-text fw-light">
                        View a summary of the data in your system.
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-8">
            <app-latest-visits-table></app-latest-visits-table>
        </div>
        <div class="col-4">
            <app-portfolio-summary-card></app-portfolio-summary-card>
        </div>
    </div>
</div>
