<div class="container-fluid">
    <div class="row">
        <div class="col mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <fa-icon [icon]="faFolderOpen"></fa-icon>
                        JUSTIFI Portfolio
                    </div>
                    <p class="card-text fw-light">
                        Use this tool to identify and estimate potential non-energy benefits (NEBs) that can be
                        found while conducting the energy assessments.
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <hr>
        <div class="col-8">
            
        </div>
    </div>
</div>
