<div class="settings-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faBuilding" class="me-2"></fa-icon>Company Details
                </h5>
                <hr>
                <form>
                    <label class="bold" for="companyName">Company Name</label>
                    <input name="companyName" type="text" class="form-control"
                        [(ngModel)]="company.generalInformation.name" (input)="saveChanges()" minlength="1"
                        maxlength="42" id="companyName">
                </form>
                <hr>
                <label class="bold">Location</label>
                <app-location-form [inCompany]="true"></app-location-form>
                <hr>
                <label class="bold">Additional Details</label>
                <app-additional-details-form [inCompany]="true"></app-additional-details-form>
                <hr>
                <label class="bold">Manage Company</label>
                <div class="d-flex p-2">
                    <button class="btn btn-danger" (click)="openDeleteModal()">
                        <fa-icon [icon]="faTrash"></fa-icon> Delete Company
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<div [ngClass]="{'window-overlay': displayDeleteModal}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteModal }">
    <div class="popup-header">Delete Company?
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeDeleteModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-info">
            Are you sure you want to delete <b>{{company.generalInformation.name}}</b>?
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeDeleteModal()">Cancel</button>
        <button class="btn btn-danger" (click)="confirmDelete()">Confirm Delete</button>
    </div>
</div>