<div class="row mt-2">
    <div class="col-4">
        Annual Sales
    </div>
    <span class="placeholder col-8"></span>
</div>
<div class="row mt-2">
    <div class="col-4">
        Output Levels
    </div>
    <span class="placeholder col-8"></span>
</div>
<div class="row mt-2">
    <div class="col-4">
        Significant Process / Functional Areas
    </div>
    <span class="placeholder col-8"></span>
</div>
<div class="row mt-2">
    <div class="col-4">
        Raw Materials Used
    </div>
    <span class="placeholder col-8"></span>
</div>