<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faBuilding" class="me-2"></fa-icon>Company Details</h5>
                <hr>
                <form>
                    <label class="bold" for="companyName">Company Name</label>
                    <input name="companyName" type="text" class="form-control" [(ngModel)]="companyName"
                        (input)="saveChanges()" minlength="1" maxlength="42" id="companyName">
                </form>
                <hr>
                <label class="bold">Location</label>
                <app-location-form [inCompany]="true" [inSetupWizard]="true"></app-location-form>
                <hr>
                <label class="bold">Energy Systems</label>
                <app-units-form [inCompany]="true" [inSetupWizard]="true"></app-units-form>
                <hr>
                <label class="bold">Additional Details</label>
                <app-additional-details-form [inCompany]="true"
                    [inSetupWizard]="true"></app-additional-details-form>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-end">
        <button class="btn btn-dark" (click)="goToKpis()">
            Enter KPI's 
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</nav>