<div class="row justify-content-center mt-3">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                <h5 class="card-title mb-0">Getting Started</h5>
            </div>
            <div class="card-body">
                <p class="card-text text-center">This is the setup wizard. First choose what you would like to setup
                    with
                    the help of the wizard. This process has been broken up into three steps but can also be completed
                    in
                    one
                    pass. Please choose how you would like to proceed.</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <hr>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <div class="col-6">
        <div class="card h-100">
            <div class="card-header text-center">
                <button class="btn btn-dark" (click)="setSetupContext('preVisit')">
                    <span class="badge text-bg-secondary">
                        <fa-icon [icon]="fa1"></fa-icon>
                    </span>
                    Pre-Visit Setup
                </button>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Get to know the company and facility you will be visiting.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <div class="col-6">
        <div class="card h-100">
            <div class="card-header text-center">
                <button class="btn btn-dark" (click)="setSetupContext('onSite')" [disabled]="companies.length == 0">
                    <span class="badge text-bg-secondary">
                        <fa-icon [icon]="fa2"></fa-icon>
                    </span>
                    Data Collection
                </button>
            </div>
            <div class="card-body">
                <p class="card-text" *ngIf="companies.length != 0">
                    Input assessment data and identify potential NEBs.
                </p>
                <p class="card-text alert-warning" *ngIf="companies.length == 0">
                    Company and facility setup needed before data collection can be done.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="row mt-3 justify-content-center">
    <div class="col-6">
        <div class="card h-100">
            <div class="card-header text-center">
                <button class="btn btn-dark" (click)="setSetupContext('postVisit')">
                    <span class="badge text-bg-secondary">
                        <fa-icon [icon]="fa3"></fa-icon>
                    </span>
                    Data Evaluation
                </button>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Evaluate the results of the assessment and generate reports for decision makers.
                </p>
            </div>
            <div class="card-footer text-end">
                <span class="badge text-bg-warning">Coming Soon</span>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <hr>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                <button class="btn btn-dark" (click)="setSetupContext('full')" [disabled]="true">
                    <span class="badge text-bg-secondary">
                        &mdash;
                    </span>
                    Complete All Steps
                </button>
            </div>
            <div class="card-body">
                Want to do all the work in a single run? Click here to complete all the steps in one pass. We will save
                where you left off if needed.
            </div>
            <div class="card-footer text-end">
                <span class="badge text-bg-warning">Coming Soon</span>
            </div>
        </div>
    </div>
</div>





<div [ngClass]="{'window-overlay': displayCreateNewModal}"></div>
<div class="popup" [ngClass]="{'open': displayCreateNewModal }">
    <div class="popup-header">How would you like to start?
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeCreateNewModal()"></button>
    </div>
    <div class="popup-body">
        <ng-template [ngIf]="companies.length > 0" [ngIfElse]="noCompaniesBlock">
            <div class="alert alert-info">
                Select a company and a facility to pre-populate your setup with existing data entered.
            </div>
            <hr>
            <form>
                <label for="selectedCompany" class="form-label">Select Company</label>
                <select id="selectedCompany" name="selectedCompany" class="form-select"
                    [(ngModel)]="selectedCompanyGuid">
                    <option [ngValue]="undefined">Setup New Company</option>
                    <optgroup label="Existing Companies">
                        <option *ngFor="let company of companies" [ngValue]="company.guid">
                            {{company.generalInformation.name}}</option>
                    </optgroup>
                </select>
                <ng-container *ngIf="selectedCompanyGuid">
                    <label for="selectedFacility" class="form-label">Select Facility</label>
                    <select id="selectedFacility" name="selectedFacility" class="form-select"
                        [(ngModel)]="selectedFacilityGuid">
                        <option [ngValue]="undefined">Setup New Facility</option>
                        <optgroup label="Existing Facilities">
                            <option *ngFor="let facility of (selectedCompanyGuid | facilityList:facilities)"
                                [ngValue]="facility.guid">{{facility.generalInformation.name}}</option>
                        </optgroup>
                    </select>
                </ng-container>
                <ng-container *ngIf="selectedFacilityGuid">
                    <label for="selectedVisit" class="form-label">Select Visit</label>
                    <select id="selectedVisit" name="selectedVisit" class="form-select"
                        [(ngModel)]="selectedOnSiteVisitGuid">
                        <option [ngValue]="undefined">Setup New Visit</option>
                        <optgroup label="Existing Visits">
                            <option *ngFor="let onSiteVisit of (selectedFacilityGuid | onSiteVisitList:onSiteVisits)"
                                [ngValue]="onSiteVisit.guid">
                                {{onSiteVisit.visitDate| date}}</option>
                        </optgroup>
                    </select>
                </ng-container>
            </form>
        </ng-template>
        <ng-template #noCompaniesBlock>
            <div class="alert alert-info">
                No companies found in your system. A new company will be created upon completion of the Pre-Visit.
            </div>
        </ng-template>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeCreateNewModal()">Cancel</button>
        <button class="btn btn-success" (click)="confirmCreate()">Confirm</button>
    </div>
</div>