<div class="row justify-content-center mt-3">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                <h5 class="card-title mb-0">Getting Started</h5>
            </div>
            <div class="card-body">
                <p class="card-text text-center">This is the setup wizard. First choose what you would like to setup
                    with
                    the help of the wizard. This process has been broken up into three steps but can also be completed
                    in
                    one
                    pass. Please choose how you would like to proceed.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <div class="col-6">
        <div class="card h-100">
            <div class="card-header text-center">
                <!-- <h5 class="card-title mb-0 text-center"> -->
                <button class="btn btn-dark" (click)="setSetupContext('preVisit')">
                    <span class="badge text-bg-secondary">
                        <fa-icon [icon]="fa1"></fa-icon>
                    </span>
                    Pre-Visit Company and Facility Setup
                </button>
                <!-- </h5> -->
            </div>
            <div class="card-body">
                <p class="card-text">
                    Get to know the company and facility you will be visiting. Input data related to
                </p>
            </div>
            <!-- <div class="card-footer text-end">
                <button class="btn btn-dark" (click)="setSetupContext('preVisit')">
                    Pre-Visit
                </button>
            </div> -->
        </div>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <div class="col-6">
        <div class="card h-100">
            <div class="card-header text-center">
                <!-- <h5 class="card-title mb-0 text-center"> -->
                <button class="btn btn-dark" (click)="setSetupContext('onSite')">
                    <span class="badge text-bg-secondary">
                        <fa-icon [icon]="fa2"></fa-icon>
                    </span>
                    On-Site Assessment
                </button>
                <!-- </h5> -->
            </div>
            <div class="card-body">
                <p class="card-text">
                    Input assessment data and identify potential NEBs.
                </p>
            </div>
            <div class="card-footer text-end">
            </div>
        </div>
    </div>
</div>

<div class="row mt-3 justify-content-center">
    <div class="col-6">
        <div class="card h-100">
            <div class="card-header text-center">
                <!-- <h5 class="card-title mb-0 text-center"> -->
                <button class="btn btn-dark" (click)="setSetupContext('postVisit')">
                    <span class="badge text-bg-secondary">
                        <fa-icon [icon]="fa3"></fa-icon>
                    </span>
                    Post-Visit Evaluation
                </button>
                <!-- </h5> -->
            </div>
            <div class="card-body">
                <p class="card-text">
                    Evaluate the results of the assessment and generate reports for decision makers.
                </p>
            </div>
            <div class="card-footer text-end">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                <!-- <h5 class="card-title mb-0 text-center"> -->
                <button class="btn btn-dark" (click)="setSetupContext('full')">
                    <span class="badge text-bg-secondary">
                        &mdash;
                    </span>
                    Complete All Steps
                </button>
                <!-- </h5> -->
            </div>
            <div class="card-body">
                Want to do all the work in a single run? Click here to complete all the steps in one pass. We will save
                where you left off if needed.
            </div>
            <!-- <div class="card-footer text-end">
                <button class="btn btn-dark" (click)="setSetupContext('full')">
                    Full Setup
                </button>
            </div> -->
        </div>
    </div>
</div>