<div class="row pt-4 justify-content-center">
    <div class="col-md-12 col-lg-9">
        <div class="accordion" id="facilityGoalsAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFacilityGoals" aria-expanded="true" aria-controls="collapseFacilityGoals"
                        [ngClass]="{'collapsed': !accordionOpen}" (click)="toggleAccordion()">
                        <fa-icon [icon]="faBullseye" class="me-2"></fa-icon>
                        Facility Goals
                    </button>
                </h2>
                <div id="collapseFacilityGoals" class="accordion-collapse collapse"
                    data-bs-parent="#facilityGoalsAccordion" [ngClass]="{'show': accordionOpen}">
                    <div class="accordion-body">

                        <div class="row mt-2">
                            <div class="col-4">
                                Strategic Goals
                            </div>
                            <span class="placeholder col-8"></span>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4">
                                Sustainability Goals
                            </div>
                            <span class="placeholder col-8"></span>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4">
                                Marketing Goals
                            </div>
                            <span class="placeholder col-8"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>