<div class="d-flex w-100 justify-content-end pt-2 pb-2">
    <button class="btn btn-outline-energy-opp btn-sm" (click)="addEnergyOpportunity()"><fa-icon [icon]="faPlus"
            class="me-1"></fa-icon>Add Energy Opportunity</button>
</div>
<ng-template [ngIf]="assessmentEnergyOpportunityGuids.length > 0" [ngIfElse]="noOpportunitiesBlock">
    <div class="accordion" id="energyOpportunityAccordion">
        <div class="accordion-item"
            *ngFor="let energyOpportunityGuid of assessmentEnergyOpportunityGuids; let index = index;">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#'+energyOpportunityGuid" aria-expanded="true"
                    [attr.aria-controls]="energyOpportunityGuid" [ngClass]="{'collapsed': accordionIndex != index}"
                    (click)="setAccordionIndex(index)">
                    <fa-icon class="pe-2" [icon]="faFileLines"></fa-icon> {{energyOpportunityGuid |
                    energyOpportunityDisplay:energyOpportunities}}
                </button>
            </h2>
            <div [id]="energyOpportunityGuid" class="accordion-collapse collapse"
                data-bs-parent="#energyOpportunityAccordion" [ngClass]="{'show': accordionIndex == index}">
                <div class="accordion-body">
                    <app-energy-opportunity-setup-form
                        [energyOpportunityGuid]="energyOpportunityGuid"></app-energy-opportunity-setup-form>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #noOpportunitiesBlock>
    <div class="d-flex flex-column w-100 justify-content-center mt-3">
        <div class="alert alert-info small text-center p-2">
            No energy opportunities found for this assessment.
        </div>
    </div>
</ng-template>