<div class="row pt-4 justify-content-center">
    <div class="col-md-12 col-lg-9 pt-4 pb-2">
        <nav class="navbar border-bottom">
            <h4 class="mb-0">{{assessment.name}}</h4>
            <button class="btn btn-sm btn-success float-end" (click)="openEditModal()">
                <fa-icon [icon]="faWandMagicSparkles"></fa-icon> Setup Wizard
            </button>
        </nav>
    </div>
    <div class="col-md-12 col-lg-9">
        <div class="card">
            <div class="card-header">
                {{assessment.name}} Details
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                Equipment Type
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                Annual Energy Use
                            </td>
                            <td>
                                {{assessment.energyUse}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Annual Costs
                            </td>
                            <td>
                                {{assessment.cost}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-9">
        <hr>
    </div>
    <div class="col-md-12 col-lg-9">
        <div class="card">
            <div class="card-header">
                {{assessment.name}} Projects
            </div>
            <ng-template [ngIf]="(assessment.guid | projectsList:projects:'assessment').length > 0"
                [ngIfElse]="noProjectBlock">
                <div class="card-body" *ngFor="let project of assessment.guid | projectsList:projects:'assessment'">
                    {{project.name}}
                </div>
            </ng-template>
            <ng-template #noProjectBlock>
                <div class="card-body">
                    <div class="alert alert-info">
                        No projects found for this assessment.
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>