<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faCircleExclamation" class="pe-1 fa-error" *ngIf="name?.touched && name.invalid"></fa-icon>
                    <fa-icon [icon]="faIndustry" class="me-2"></fa-icon>Facility Details
                </h5>
                <hr>
                <form>
                    <label class="bold" for="facilityName">Facility Name <span class="required-asterisk">*</span></label>
                    <input name="facilityName" type="text" class="form-control" [formControl]="name"
                        (input)="saveChanges()" id="facilityName">
                    <div class="form-error alert alert-danger" *ngIf="name.touched && name.errors?.['required']">
                        Facility name required.
                    </div>
                </form>
                <hr>
                <label class="bold">Location</label>
                <app-location-form [inCompany]="false"></app-location-form>
                <hr>
                <label class="bold">Tracked Utilities</label>
                <app-units-form></app-units-form>
                <hr>
                <label class="bold">Additional Details</label>
                <app-additional-details-form [inCompany]="false"></app-additional-details-form>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark btn-sm" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn btn-dark" (click)="goToEnergyEquipment()" [disabled]="name?.invalid">
            Industrial System Inventory
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</nav>
<div [ngClass]="{'window-overlay': routeGuardWarningModal}"></div>
<div class="popup" [ngClass]="{'open': routeGuardWarningModal }">
    <div class="popup-body">
        <div class="alert alert-danger">
            Please fill the required fields.
        </div>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeWarningModal()">OK</button>
    </div>
</div>