<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faIndustry" class="me-2"></fa-icon>Facility Details
                </h5>
                <hr>
                <form>
                    <label class="bold" for="facilityName">Faiclity Name</label>
                    <input name="facilityName" type="text" class="form-control" [(ngModel)]="facilityName"
                        (input)="saveChanges()" id="facilityName">
                </form>
                <hr>
                <label class="bold">Location</label>
                <app-location-form [inCompany]="false" [inSetupWizard]="true"></app-location-form>
                <hr>
                <label class="bold">Energy Systems</label>
                <app-units-form [inCompany]="false" [inSetupWizard]="true"></app-units-form>
                <hr>
                <label class="bold">Additional Details</label>
                <app-additional-details-form [inCompany]="false" [inSetupWizard]="true"></app-additional-details-form>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn btn-dark" (click)="goToProcessEquipment()">
            Process Equipment
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</nav>