<!-- <div class="d-flex w-100 justify-content-center mt-3" *ngIf="project"> -->
<div class="card" [id]="'neb_'+nonEnergyBenefit.guid">
    <div class="card-header text-bg-dark">
        <h5 class="card-title mb-0">
            <fa-icon [icon]="faWeightHanging" class="me-2"></fa-icon>
        </h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row mb-1">
                <label class="col-sm-5 col-form-label" for="projectName">NEB Name</label>
                <div class="col-sm-7">
                    <input name="nebName" type="text" class="form-control" [(ngModel)]="nonEnergyBenefit.name"
                        minlength="1" maxlength="42" id="nebName">
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-sm-5 col-form-label" for="kpiId">Associated KPI</label>
                <div class="col-sm-7">
                    <select class="form-select" name="kpiId" [(ngModel)]="nonEnergyBenefit.kpiId">
                        <option *ngFor="let kpi of keyPerformanceIndicators" [ngValue]="kpi.kpiOptionValue">
                            <span [innerHTML]="kpi | kpiLabel"></span>
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-sm-5 col-form-label" for="nebNotes">Notes</label>
                <div class="col-sm-7">
                    <textarea name="nebNotes" type="number" class="form-control" [(ngModel)]="nonEnergyBenefit.notes"
                        id="nebNotes"></textarea>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-sm-5 col-form-label" for="projectIds">Connected Projects</label>
                <div class="col-sm-7">
                    <!-- <ng-template [ngIf]="nonEnergyBenefit.projectIds.length != 0" [ngIfElse]="noProjectsBlock">
                        <div class="list-group">
                            <div class="list-group-item project-item"
                                *ngFor="let projectId of nonEnergyBenefit.projectIds"
                                (click)="highlightProject(projectId)">
                                <div class="d-flex justify-content-between w-100">
                                    <div class="p-0">
                                        <fa-icon [icon]="faCircleCheck"></fa-icon>
                                        {{projectId | projectDisplay: projects}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #noProjectsBlock>
                        <div class="alert alert-info small p-1">
                            No projects connected to this NEB.
                        </div>
                    </ng-template> -->


                    <!-- <div class="row mb-1">
                        <label class="col-sm-5 col-form-label" for="projectIds">Non-Energy Benefits</label>
                        <div class="col-sm-7"> -->
                    <ng-template [ngIf]="nonEnergyBenefit.projectIds.length != 0" [ngIfElse]="nonNebsBlock">
                        <button class="btn btn-dark btn-sm add-project-btn m-1"
                            *ngFor="let projectId of nonEnergyBenefit.projectIds" (click)="highlightProject(projectId)">
                            <fa-icon [icon]="faFileLines"></fa-icon>
                            {{projectId | projectDisplay: projects}}
                        </button>
                        <button class="btn btn-dark btn-sm add-project-btn m-1" (click)="showProjectsModal()">
                            <fa-icon [icon]="faSearchPlus"></fa-icon> Connect Projects
                        </button>
                    </ng-template>
                    <ng-template #nonNebsBlock>
                        <button class="btn btn-dark btn-sm add-project-btn w-100" (click)="showProjectsModal()">
                            <fa-icon [icon]="faSearchPlus"></fa-icon> Connect Projects
                        </button>
                    </ng-template>
                </div>
            </div>


            <!-- </div> -->
            <!-- </div> -->
        </form>
    </div>
    <div class="card-footer">
        <div class="d-flex w-100 justify-content-end">
            <button class="btn btn-danger btn-sm" (click)="showDeleteModal()">
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </div>
    </div>
</div>

<div [ngClass]="{'window-overlay': (displayDeleteModal || displayProjectsModal)}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteModal }">
    <div class="popup-header">Discard this NEB?
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeDeleteModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-info">
            Are you sure you want to discard this NEB?
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeDeleteModal()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteNonEnergyBenefit()"><fa-icon [icon]="faTrash"
                class="me-1"></fa-icon>Discard NEB</button>
    </div>
</div>


<div class="popup" [ngClass]="{'open': displayProjectsModal }">
    <div class="popup-header">Projects connects to {{nonEnergyBenefit.name}}
        <button type="button" class="btn-close float-end" aria-label="Close"
            (click)="closeProjectsModal(true)"></button>
    </div>
    <div class="popup-body">
        <p>
            These projects are contributing to this NEB.
        </p>
        <div class="list-group">
            <div class="list-group-item list-group-item-action" *ngFor="let project of projects; let index = index;"
                (click)="toggleProject(project.guid)">
                <div class="d-flex justify-content-between w-100">
                    <div class="p-0">
                        <ng-template [ngIf]="nonEnergyBenefit.projectIds.includes(project.guid)">
                            <fa-icon [icon]="faCircleCheck"></fa-icon>
                        </ng-template>
                        {{project.name}}
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeProjectsModal(true)">Cancel</button>
        <button class="btn btn-dark add-neb-btn" (click)="saveProjects()"><fa-icon [icon]="faSave"
                class="me-1"></fa-icon>Save Connected Projects</button>
    </div>
</div>