/* .card{
    border: solid #186A3B;
} */

.card-header {
    background-color: #186A3B !important;
}

.card-footer{
    background-color: white;
}


.btn-sm{
    font-size: small;
}

/* .card{
    border: solid #186A3B;
} */

.list-group-item.project-item{
    border: solid #D35400 !important;
}