<h5 class="bold w-100 text-center">
    <fa-icon [icon]="faToolbox" class="me-2"></fa-icon> Pre-Assessments for {{onSiteVisit.visitDate| date}}
</h5>
<div class="row">
    <div class="col-lg-6 col-md-12 pb-2" *ngFor="let assessment of (onSiteVisit.assessmentIds | assessmentListOnSite: assessments)">
        <div class="card">
            <div class="card-header">
                <fa-icon [icon]="faScrewdriverWrench" class="pe-1"></fa-icon>
                {{assessment.name}}
            </div>
            <div class="card-body">

                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>
                                Process Equipment
                            </td>
                            <td>
                                <ng-template [ngIf]="assessment.equipmentId" [ngIfElse]="equipmentMdash">
                                    {{assessment.equipmentId | processEquipmentDisplay: processEquipment}}
                                </ng-template>
                                <ng-template #equipmentMdash>
                                    &mdash;
                                </ng-template>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Annual Energy Use
                            </td>
                            <td>
                                <app-single-cell-item [value]="assessment.energyUse"></app-single-cell-item>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Annual Costs
                            </td>
                            <td>
                                <app-single-cell-item [value]="assessment.cost"></app-single-cell-item>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Contacts
                            </td>
                            <td>
                                <ng-template [ngIf]="(assessment.guid| associatedContacts:'assessment': contacts).length != 0"
                                    [ngIfElse]="contactMdash">
                                    <div class="d-flex">
                                        <div class="pe-1"
                                            *ngFor="let contact of assessment.guid| associatedContacts:'assessment': contacts;">
                                            <span class="badge bg-primary">
                                                <fa-icon [icon]="faUser"></fa-icon>
                                                {{contact.name}}
                                            </span>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #contactMdash>
                                    &mdash;
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>