<ng-template [ngIf]="strValue || numValue" [ngIfElse]="mdash">
    <ng-template [ngIf]="strValue" [ngIfElse]="numValueBlock">
        {{strValue}}
        <ng-template [ngIf]="units && !per">
            <span [innerHTML]="units | unitsDisplay"></span>
        </ng-template>
        <ng-template [ngIf]="units && per">
            <span [innerHTML]="units | unitsDisplay"></span>/<span [innerHTML]="per | unitsDisplay"></span>
        </ng-template>
    </ng-template>


    <ng-template #numValueBlock>
        <ng-template [ngIf]="!isCurrency" [ngIfElse]="currencyBlock">
            {{numValue | number}}
        </ng-template>
        <ng-template #currencyBlock>
            {{numValue | currency}}
        </ng-template>
        <ng-template [ngIf]="units && !per">
            <span [innerHTML]="units | unitsDisplay"></span>
        </ng-template>
        <ng-template [ngIf]="units && per">
            <span [innerHTML]="units | unitsDisplay"></span>/<span [innerHTML]="per | unitsDisplay"></span>
        </ng-template>
    </ng-template>
</ng-template>

<ng-template #mdash>
    &mdash;
</ng-template>