<ng-template [ngIf]="value" [ngIfElse]="mdash">
    <ng-template [ngIf]="!isCurrency" [ngIfElse]="currencyBlock">
        {{value}}
    </ng-template>
    <ng-template #currencyBlock>
        {{value|currency}}
    </ng-template>
    <ng-template [ngIf]="units && !per">
        <span [innerHTML]="units | unitsDisplay"></span>
    </ng-template>
    <ng-template [ngIf]="units && per">
        <span [innerHTML]="units | unitsDisplay"></span>/<span [innerHTML]="per | unitsDisplay"></span>
    </ng-template>
</ng-template>
<ng-template #mdash>
    &mdash;
</ng-template>