<div class="card">
    <div class="card-body">
        <div class="card-title secondary">
            <fa-icon [icon]="faList"></fa-icon>
            Portfolio Summary
        </div>
        <!-- <p class="card-text fw-light">
            
        </p> -->
        <div class="list-group">
            <div class="list-group-item d-flex justify-content-between">
                <div>
                    Companies
                </div>
                <div>
                    <span class="badge bg-dark">
                        {{companies.length}}
                    </span>
                </div>
            </div>
            <div class="list-group-item d-flex justify-content-between">
                <div>
                    Facilities
                </div>
                <div>
                    <span class="badge bg-dark">
                        {{companies.length}}
                    </span>
                </div>
            </div>
            <div class="list-group-item d-flex justify-content-between">
                <div>
                    On-site Visits
                </div>
                <div>
                    <span class="badge bg-dark">
                        {{companies.length}}
                    </span>
                </div>
            </div>
            <div class="list-group-item d-flex justify-content-between">
                <div>
                    Assessments
                </div>
                <div>
                    <span class="badge bg-dark">
                        {{companies.length}}
                    </span>
                </div>
            </div>
            <div class="list-group-item d-flex justify-content-between">
                <div>
                    NEBs
                </div>
                <div>
                    <span class="badge bg-dark">
                        {{companies.length}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>