<div class="setup-wizard-content" *ngIf="assessment">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <nav class="navbar top-nav">
                    <div>
                        <h5>
                            <fa-icon [icon]="faScrewdriverWrench"></fa-icon> {{assessment.name}} <span
                                class="badge bg-dark small ps-1"
                                *ngIf="assessment.assessmentType">{{assessment.assessmentType}}</span>
                        </h5>
                    </div>
                    <ul class="nav nav-underline">
                        <li class="nav-item">
                            <a class="nav-link pt-0" [routerLink]="'details'"
                                [routerLinkActive]="['active']">Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-0" [routerLink]="'energy-opportunities'"
                                [routerLinkActive]="['active']">Energy Efficiency Opportunities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-0" [routerLink]="'nebs'" [routerLinkActive]="['active']">NEBs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pt-0" [routerLink]="'results'"
                                [routerLinkActive]="['active']">Results</a>
                        </li>
                    </ul>
                </nav>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <div class="col-3">
            <button class="btn btn-dark btn-sm" (click)="goBack()">
                <fa-icon [icon]="faChevronLeft"></fa-icon>
            </button>
        </div>
        <!-- <div class="col-6">
            <div class="d-flex justify-content-center">
                <div class="pe-1">
                    <button class="btn btn-dark add-opportunity-btn btn-sm" [disabled]="true">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        Add Opportunity
                    </button>
                </div>
                <div class="pe-1">
                    <button class="btn btn-dark add-neb-btn btn-sm" (click)="showSuggestedNebModal()">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        Add NEB
                    </button>
                </div>
                <div class="pe-1">
                    <button class="btn btn-secondary btn-sm" [disabled]="true">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        Add Contact
                    </button>
                </div>
            </div>
        </div> -->
        <div class="col-3">
            <div class="d-flex  justify-content-end">
                <button class="btn btn-dark btn-sm" (click)="goToNext()">
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</nav>

<app-contact-modal *ngIf="displayContactModal" (emitCancelContact)="closeContactModal()"
    [contextGuid]="displayContactModal.contextGuid" [contactContext]="displayContactModal.context"
    [selectedContact]="displayContactModal.viewContact" [companyGuid]="assessment.companyId"></app-contact-modal>

<app-add-nebs-modal *ngIf="displayAddNebsModal"></app-add-nebs-modal>