.add-neb-btn{
    background-color: #186A3B;
}
.add-opportunity-btn{
    background-color: #D35400;
}

.top-nav{
    border-bottom: solid;
    margin-bottom: .25rem
}
.nav-underline .nav-item .nav-link.active{
    font-weight: normal;
}