
.assessment-label{
    font-weight: bold;
    border-bottom: 3px solid var(--assessment-color);
}

.item-label{
    display: inline-block;
    /* line-height: normal; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

select.form-select{
    line-height: inherit;
    border-color: var(--portfolio-nav-color);
    border-width: 2px;
    font-size: 14px;
}