.form-block{
    border-left: solid;
}

.alert-block, .form-block{
    margin-left: 2rem;
    /* margin-right: 2rem; */
}

.alert-info{
    padding: .25rem;
}


.pm-label{
    padding-left: 1.5rem;
}

.click-link{
    text-decoration: none;
}