<ng-template [ngIf]="keyPerformanceMetricImpact" [ngIfElse]="missingMetricBlock">
    <div class="pb-2 d-flex w-100 justify-content-between">
        <div>
            <label for="performanceMetric">
                <fa-icon [icon]="faScaleUnbalancedFlip" class="me-2"></fa-icon>
                <a class="click-link" (click)="goToMetric()">
                    <span [innerHTML]="keyPerformanceMetric.htmlLabel"></span>
                </a>
            </label>
        </div>
        <app-primary-kpi-badge [kpiValue]="keyPerformanceMetric.kpiValue"
            [companyGuid]="nonEnergyBenefit.companyId"></app-primary-kpi-badge>
    </div>
    <ng-template [ngIf]="keyPerformanceMetric.isQuantitative" [ngIfElse]="qualitativeMetricBlock">

        <div class="form-block">
            <div class="row">
                <label class="col-sm-6 col-form-label pm-label" for="baselineValue">
                    Baseline Amount
                </label>
                <div class="col-6">
                    <div class="input-group">
                        <input type="number" class="form-control" [(ngModel)]="keyPerformanceMetric.baselineValue"
                            name="baselineValue" (input)="calculateBaseline()" [disabled]="disabledBaseline">
                        <span class="input-group-text">
                            <span [innerHTML]="keyPerformanceMetric.totalUnit | unitsDisplay"></span>/yr
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-6 col-form-label pm-label" for="costPerValue">
                    Cost Per Unit
                </label>
                <div class="col-6">
                    <div class="input-group">
                        <input type="number" class="form-control" [(ngModel)]="keyPerformanceMetric.costPerValue"
                            name="costPerValue" (input)="calculateBaseline()" [disabled]="disabledBaseline">
                        <span class="input-group-text">
                            &dollar;/<span [innerHTML]="keyPerformanceMetric.totalUnit | unitsDisplay"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-6 col-form-label pm-label" for="costPerValue">
                    Baseline Cost
                </label>
                <div class="col-6">
                    <ng-template [ngIf]="keyPerformanceMetric.baselineCost" [ngIfElse]="noCostBlock">
                        {{keyPerformanceMetric.baselineCost | currency}}/yr
                    </ng-template>
                    <ng-template #noCostBlock>
                        &mdash;
                    </ng-template>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-6 col-form-label pm-label" for="modificationValue">
                    NEB Impact
                </label>
                <div class="col-6">
                    <div class="input-group">
                        <input type="number" class="form-control"
                            [(ngModel)]="keyPerformanceMetricImpact.modificationValue" name="modificationValue"
                            (input)="calculateCost()">
                        <span class="input-group-text">
                            <span [innerHTML]="keyPerformanceMetric.totalUnit | unitsDisplay"></span>/yr
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-6 col-form-label pm-label" for="costPerValue">
                    NEB Cost Impact
                </label>
                <div class="col-6">
                    <ng-template [ngIf]="keyPerformanceMetricImpact.costAdjustment" [ngIfElse]="noCostAdjustmentBlock">
                        {{keyPerformanceMetricImpact.costAdjustment | currency}}/yr
                    </ng-template>
                    <ng-template #noCostAdjustmentBlock>
                        &mdash;
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #qualitativeMetricBlock>
        <div class="alert alert-info small">
            Quantitative results unavailable at this time.
        </div>
    </ng-template>
</ng-template>
<ng-template #missingMetricBlock>
    <div class="alert alert-danger small">
        There was an error with this key performance metric.
    </div>
</ng-template>
<div class="row">
    <div class="col text-right">
        <a class="click-link click-link-danger small" (click)="openDeleteModal()">
            <fa-icon [icon]="faClose"></fa-icon>
            Remove Metric Impact
        </a>
    </div>
</div>

<div [ngClass]="{'window-overlay': displayDeleteModal}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteModal }">
    <div class="popup-header">Remove
        <span [innerHTML]="keyPerformanceMetric.htmlLabel"></span> Impact
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeDeleteModal()"></button>
    </div>
    <div class="popup-body">
        Are you sure you want to remove this impact?
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary btn-sm me-2" (click)="closeDeleteModal()">Cancel</button>
        <button class="btn btn-danger btn-sm" (click)="confirmDelete()"><fa-icon [icon]="faTrash"></fa-icon> Remove Impact</button>
    </div>
</div>