<ng-template [ngIf]="keyPerformanceMetricImpact" [ngIfElse]="missingMetricBlock">
    <div class="ps-2">
        <div class="pb-2 d-flex w-100 justify-content-between">
            <div class="d-flex">
                <div class="dropdown">
                    <button class="btn btn-outline-metric btn-sm dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="faScaleUnbalancedFlip" class="me-2"></fa-icon>
                        <span [innerHTML]="keyPerformanceMetric.htmlLabel"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngIf="!overrideBaseline && metricHasOtherImpacts">
                            <a class="dropdown-item" (click)="setOverrideBaseline()">
                                <fa-icon [icon]="faEdit"></fa-icon> Edit Baseline Values
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="goToMetric()">
                                <fa-icon [icon]="faBullseye"></fa-icon>
                                View KPI Details
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="openDeleteModal()">
                                <fa-icon [icon]="faTrash"></fa-icon>
                                Remove Metric Impact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-flex">
                <app-primary-kpi-badge [kpiValue]="keyPerformanceMetric.kpiValue"
                    [companyGuid]="nonEnergyBenefit.companyId"></app-primary-kpi-badge>
            </div>
        </div>

        <div class="row" *ngIf="metricHasOtherImpacts && overrideBaseline">
            <div class="col">
                <div class="alert alert-warning small p-1 text-center">
                    Warning: This metric has additional performance metric impacts added to different NEBs in other
                    areas of
                    the application.
                    Modifying the
                    baseline values may change the values in those associated impacts. Click the metric to view all of
                    the
                    potential impacts cataloged in the system.
                </div>
            </div>
        </div>

        <ng-template [ngIf]="keyPerformanceMetric.isQuantitative" [ngIfElse]="qualitativeMetricBlock">
            <div class="form-block">
                <div class="row">
                    <label class="col-sm-6 col-form-label pm-label" for="baselineValue">
                        Baseline Amount
                    </label>
                    <div class="col-6">
                        <div class="input-group">
                            <input type="number" class="form-control" [(ngModel)]="keyPerformanceMetric.baselineValue"
                                name="baselineValue" (input)="calculateBaseline()"
                                [disabled]="(metricHasOtherImpacts && !overrideBaseline)">
                            <span class="input-group-text">
                                <span [innerHTML]="keyPerformanceMetric.totalUnit | unitsDisplay"></span>/yr
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-6 col-form-label pm-label" for="costPerValue">
                        Cost Per Unit
                    </label>
                    <div class="col-6">
                        <div class="input-group">
                            <input type="number" class="form-control" [(ngModel)]="keyPerformanceMetric.costPerValue"
                                name="costPerValue" (input)="calculateBaseline()"
                                [disabled]="(metricHasOtherImpacts && !overrideBaseline)">
                            <span class="input-group-text">
                                &dollar;/<span [innerHTML]="keyPerformanceMetric.totalUnit | unitsDisplay"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-6 col-form-label pm-label" for="costPerValue">
                        Baseline Cost
                    </label>
                    <div class="col-6">
                        <ng-template [ngIf]="keyPerformanceMetric.baselineCost" [ngIfElse]="noCostBlock">
                            {{keyPerformanceMetric.baselineCost | currency}}/yr
                        </ng-template>
                        <ng-template #noCostBlock>
                            &mdash;
                        </ng-template>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-6 col-form-label pm-label" for="modificationValue">
                        Impact on KPM
                    </label>
                    <div class="col-6">
                        <div class="input-group">
                            <input type="number" class="form-control"
                                [(ngModel)]="keyPerformanceMetricImpact.modificationValue" name="modificationValue"
                                (input)="calculateCost()">
                            <span class="input-group-text">
                                <span [innerHTML]="keyPerformanceMetric.totalUnit | unitsDisplay"></span>/yr
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-6 col-form-label pm-label" for="costPerValue">
                        Financial Impact
                    </label>
                    <div class="col-6">
                        <ng-template [ngIf]="keyPerformanceMetricImpact.costAdjustment"
                            [ngIfElse]="noCostAdjustmentBlock">
                            {{keyPerformanceMetricImpact.costAdjustment | currency}}/yr
                        </ng-template>
                        <ng-template #noCostAdjustmentBlock>
                            &mdash;
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #qualitativeMetricBlock>
            <div class="alert alert-info small">
                Quantitative results unavailable at this time.
            </div>
        </ng-template>
    </div>
</ng-template>
<ng-template #missingMetricBlock>
    <div class="alert alert-danger small">
        There was an error with this key performance metric.
    </div>
</ng-template>

<div [ngClass]="{'window-overlay': displayDeleteModal}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteModal }">
    <div class="popup-header">Remove
        <span [innerHTML]="keyPerformanceMetric.htmlLabel"></span> Impact
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeDeleteModal()"></button>
    </div>
    <div class="popup-body">
        Are you sure you want to remove this impact?
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary btn-sm me-2" (click)="closeDeleteModal()">Cancel</button>
        <button class="btn btn-danger btn-sm" (click)="confirmDelete()"><fa-icon [icon]="faTrash"></fa-icon> Remove
            Impact</button>
    </div>
</div>