<div class="alert alert-warning small p-1" *ngIf="hasAssessments && priceChanged">
    Warning: The energy cost of all the assessments associated with this facility are updated.
</div>
<form [formGroup]="form">
    <div class="row">
        <div class="col-4">
            Include
        </div>
        <div class="col-4">
            <label>Energy Use</label>
        </div>
        <div class="col-4">
            <label>Price</label>
        </div>
    </div>
    <!-- TO DO : Convert to iterate over UtilityOptions for all utility types -->
    <!--Electricity-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeElectricity"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Electricity'" [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeElectricity'].value">
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0" formControlName="electricityUse"
                        name="electricityUse" (change)="saveChanges()">
                    <select class="input-group-text" formControlName="electricityUnit" (change)="savePriceChanges()">
                        <option *ngFor="let energyUnitOption of ('Electricity' | linkedUnitOptions  : 'Energy')"
                            [ngValue]="energyUnitOption.value">
                            <span [innerHTML]="energyUnitOption.value | unitsDisplay"></span>
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0" formControlName="electricityPrice"
                        name="electricityPrice" (change)="savePriceChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['electricityUnit'].value | unitsDisplay"></span>
                    </span>
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['electricityPrice'].getError('min')">
                    Value can not be negative.
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['electricityPrice'].getError('required')">
                    Value can not be empty.
                </div>
            </div>
        </ng-container>
    </div>
    <!--Natural Gas-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeNaturalGas"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Natural Gas'" [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeNaturalGas'].value">
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0" formControlName="naturalGasUse"
                        name="naturalGasUse" (change)="saveChanges()">
                    <select class="input-group-text" formControlName="naturalGasUnit" (change)="savePriceChanges()">
                        <option *ngFor="let energyUnitOption of ('Natural Gas' | linkedUnitOptions  : 'Energy')"
                            [ngValue]="energyUnitOption.value">
                            <span [innerHTML]="energyUnitOption.value | unitsDisplay"></span>
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0"
                        formControlName="naturalGasPrice"
                        name="naturalGasPrice" (change)="savePriceChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['naturalGasUnit'].value | unitsDisplay"></span>
                    </span>
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['naturalGasPrice'].getError('min')">
                    Value can not be negative.
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['naturalGasPrice'].getError('required')">
                    Value can not be empty.
                </div>
            </div>
        </ng-container>
    </div>
    <!--Other Fuels-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeOtherFuels"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Other Fuels'" [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeOtherFuels'].value">
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0" formControlName="otherFuelsUse"
                        name="otherFuelsUse" (change)="saveChanges()">
                    <select class="input-group-text" formControlName="otherFuelsUnit" (change)="savePriceChanges()">
                        <option *ngFor="let energyUnitOption of ('Other Fuels' | linkedUnitOptions  : 'Energy')"
                            [ngValue]="energyUnitOption.value">
                            <span [innerHTML]="energyUnitOption.value | unitsDisplay"></span>
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0"
                        formControlName="otherFuelsPrice" name="otherFuelsPrice" (change)="savePriceChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['otherFuelsUnit'].value | unitsDisplay"></span></span>
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['otherFuelsPrice'].getError('min')">
                    Value can not be negative.
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['otherFuelsPrice'].getError('required')">
                    Value can not be empty.
                </div>
            </div>
        </ng-container>
    </div>
    <!--Water-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeWater"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Water'" [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeWater'].value">
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0" formControlName="waterUse"
                        name="waterUse" (change)="saveChanges()">
                    <select class="input-group-text" formControlName="waterUnit" (change)="savePriceChanges()">
                        <option *ngFor="let liquidOption of ('Water' | linkedUnitOptions  : 'Energy')"
                            [ngValue]="liquidOption.value">
                            <span [innerHTML]="liquidOption.value | unitsDisplay"></span>
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0"
                        formControlName="waterPrice" name="waterPrice" (change)="savePriceChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['waterUnit'].value | unitsDisplay"></span></span>
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['waterPrice'].getError('min')">
                    Value can not be negative.
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['waterPrice'].getError('required')">
                    Value can not be empty.
                </div>
            </div>
        </ng-container>
    </div>
    <!--Waste Water-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeWasteWater"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Waste Water'" [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeWasteWater'].value">
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0" formControlName="wasteWaterUse"
                        name="wasteWaterUse" (change)="saveChanges()">
                    <select class="input-group-text" formControlName="wasteWaterUnit" (change)="savePriceChanges()">
                        <option *ngFor="let liquidOption of ('Waste Water' | linkedUnitOptions  : 'Energy')"
                            [ngValue]="liquidOption.value">
                            <span [innerHTML]="liquidOption.value | unitsDisplay"></span>
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0"
                        formControlName="wasteWaterPrice" name="wasteWaterPrice" (change)="savePriceChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['wasteWaterUnit'].value | unitsDisplay"></span></span>
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['wasteWaterPrice'].getError('min')">
                    Value can not be negative.
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['wasteWaterPrice'].getError('required')">
                    Value can not be empty.
                </div>
            </div>
        </ng-container>
    </div>
    <!--Steam-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeSteam"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Steam (as Utility)'"
                    [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeSteam'].value">
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0" formControlName="steamUse"
                        name="steamUse" (change)="saveChanges()">
                    <select class="input-group-text" formControlName="steamUnit" (change)="savePriceChanges()">
                        <option *ngFor="let massUnitOption of ('Steam' | linkedUnitOptions  : 'Energy')"
                            [ngValue]="massUnitOption.value">
                            <span [innerHTML]="massUnitOption.value | unitsDisplay"></span>
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0"
                        formControlName="steamPrice" name="steamPrice" (change)="savePriceChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['steamUnit'].value | unitsDisplay"></span>
                    </span>
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['steamPrice'].getError('min')">
                    Value can not be negative.
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['steamPrice'].getError('required')">
                    Value can not be empty.
                </div>
            </div>
        </ng-container>
    </div>
    <!--Compressed Air-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeCompressedAir"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Compressed Air (as Utility)'"
                    [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeCompressedAir'].value">
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0" formControlName="compressedAirUse"
                        name="compressedAirUse" (change)="saveChanges()">
                    <select class="input-group-text" formControlName="compressedAirUnit" (change)="savePriceChanges()">
                        <option *ngFor="let volumeGasOption of ('Compressed Air' | linkedUnitOptions  : 'Energy')"
                            [ngValue]="volumeGasOption.value">
                            <span [innerHTML]="volumeGasOption.value | unitsDisplay"></span>
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" step="any" min="0" formControlName="compressedAirPrice"
                        name="compressedAirPrice" (change)="savePriceChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['compressedAirUnit'].value | unitsDisplay"></span>
                    </span>
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['compressedAirPrice'].getError('min')">
                    Value can not be negative.
                </div>
                <div class="alert alert-warning form-error" *ngIf="form.controls['compressedAirPrice'].getError('required')">
                    Value can not be empty.
                </div>
            </div>
        </ng-container>
    </div>
    <div class="row mt-1">
        <div class="col-4">
            <label>
                Total Energy Use
            </label>
            </div>
        <div class="col-4">
            {{ facility.energyUse | number: '1.0-2' }}
            <span [innerHTML]="companyEnergyUnit | unitsDisplay"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label>
                Annual Cost
            </label>
        </div>
        <div class="col-4">
            {{ facility.cost | currency:'USD':'symbol':'1.0-2' }}
        </div>
    </div>
</form>