.disabled-input-label{
    background-color: white;
    border: none;
    border-left: var(--bs-border-width) solid var(--bs-border-color);
}
.disabled-input-label-secondary{
    background-color: white;
    border: none;
    margin-left: 20px;
}