<!--TODO: Proper units setup-->
<form [formGroup]="form">
    <div class="row">
        <div class="col-4">
            Include
        </div>
        <div class="col-4">
            <label>Unit</label>
        </div>
        <div class="col-4">
            <label>Price</label>
        </div>
    </div>
    <!--Electricity-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeElectricity"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Electricity'" [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeElectricity'].value">
            <div class="col-4">
                <select class="form-select" formControlName="electricityUnit" (change)="saveChanges()">
                    <option *ngFor="let energyUnitOption of energyUnitOptions" [ngValue]="energyUnitOption.value">
                        <span [innerHTML]="energyUnitOption.value | unitsDisplay"></span>
                    </option>
                </select>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" formControlName="electricityPrice"
                        name="electricityPrice" (change)="saveChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['electricityUnit'].value | unitsDisplay"></span>
                    </span>
                </div>
            </div>
        </ng-container>
    </div>
    <!--Natural Gas-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeNaturalGas"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Natural Gas'" [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeNaturalGas'].value">
            <div class="col-4">
                <select class="form-select" formControlName="naturalGasUnit" (change)="saveChanges()">
                    <option *ngFor="let energyUnitOption of energyUnitOptions" [ngValue]="energyUnitOption.value">
                        <span [innerHTML]="energyUnitOption.value | unitsDisplay"></span>
                    </option>
                </select>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" formControlName="naturalGasPrice" name="naturalGasPrice" (change)="saveChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['naturalGasUnit'].value | unitsDisplay"></span>
                    </span>
                </div>
            </div>
        </ng-container>
    </div>
    <!--Other Fuels-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeOtherFuel"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Other Fuels'" [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeOtherFuel'].value">
            <div class="col-4">
                <select class="form-select" formControlName="otherFuelUnit" (change)="saveChanges()">
                    <option *ngFor="let energyUnitOption of energyUnitOptions" [ngValue]="energyUnitOption.value">
                        <span [innerHTML]="energyUnitOption.value | unitsDisplay"></span>
                    </option>
                </select>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" formControlName="otherFuelPrice" name="otherFuelPrice" (change)="saveChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['otherFuelUnit'].value | unitsDisplay"></span></span>
                </div>
            </div>
        </ng-container>
    </div>
    <!--Water-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeWater"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Water'" [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeWater'].value">
            <div class="col-4">
                <select class="form-select" formControlName="waterUnit" (change)="saveChanges()">
                    <option *ngFor="let liquidOption of volumeLiquidOptions" [ngValue]="liquidOption.value">
                        <span [innerHTML]="liquidOption.value | unitsDisplay"></span>
                    </option>
                </select>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" formControlName="waterPrice" name="waterPrice" (change)="saveChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['waterUnit'].value | unitsDisplay"></span></span>
                </div>
            </div>
        </ng-container>
    </div>
    <!--Waste Water-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeWasteWater"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Waste Water'" [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeWasteWater'].value">
            <div class="col-4">
                <select class="form-select" formControlName="wasteWaterUnit" (change)="saveChanges()">
                    <option *ngFor="let liquidOption of volumeLiquidOptions" [ngValue]="liquidOption.value">
                        <span [innerHTML]="liquidOption.value | unitsDisplay"></span>
                    </option>
                </select>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" formControlName="wasteWaterPrice" name="wasteWaterPrice" (change)="saveChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['wasteWaterUnit'].value | unitsDisplay"></span></span>
                </div>
            </div>
        </ng-container>
    </div>
    <!--Steam-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeSteam"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Steam (as Utility)'"
                    [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeSteam'].value">
            <div class="col-4">
                <select class="form-select" formControlName="steamUnit" (change)="saveChanges()">
                    <option *ngFor="let massUnitOption of massUnitOptions" [ngValue]="massUnitOption.value">
                        <span [innerHTML]="massUnitOption.value | unitsDisplay"></span>
                    </option>
                </select>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" formControlName="steamPrice" name="steamPrice" (change)="saveChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['steamUnit'].value | unitsDisplay"></span>
                    </span>
                </div>
            </div>
        </ng-container>
    </div>
    <!--Compressed Air-->
    <div class="row mb-1">
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" formControlName="includeCompressedAir"
                        (change)="saveChanges()">
                </div>
                <input type="text" class="form-control disabled-input-label" [value]="'Compressed Air (as Utility)'"
                    [disabled]="true">
            </div>
        </div>
        <ng-container *ngIf="form.controls['includeCompressedAir'].value">
            <div class="col-4">
                <select class="form-select" formControlName="compressedAirUnit" (change)="saveChanges()">
                    <option *ngFor="let volumeGasOption of volumeGasOptions" [ngValue]="volumeGasOption.value">
                        <span [innerHTML]="volumeGasOption.value | unitsDisplay"></span>
                    </option>
                </select>
            </div>
            <div class="col-4">
                <div class="input-group">
                    <input class="form-control" type="number" formControlName="compressedAirPrice"
                        name="compressedAirPrice" (change)="saveChanges()">
                    <span class="input-group-text">&dollar;/<span
                            [innerHTML]="form.controls['compressedAirUnit'].value | unitsDisplay"></span>
                    </span>
                </div>
            </div>
        </ng-container>
    </div>
</form>