<div class="neb-container d-flex flex-column">
    <app-navbar></app-navbar>
    <ng-template [ngIf]="dataInitialized" [ngIfElse]="initializingDataBlock">
        <div class="d-flex w-100">
            <div class="d-flex">
                <app-sidebar></app-sidebar>
            </div>
            <div class="w-100 main-content" (click)="collapseSidebar()">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- <router-outlet></router-outlet> -->
    </ng-template>
    <ng-template #initializingDataBlock>
        Initializing data...
    </ng-template>
    <app-loading></app-loading>
    <app-create-new-assessment-modal></app-create-new-assessment-modal>
</div>