<div class="container-fluid">
    <div class="row">
        <div class="col mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        Welcome to JUSTIFI!
                    </div>
                    <p class="card-text fw-light">
                        Use this tool to identify and estimate potential non-energy benefits (NEBs) that can be
                        found while conducting the energy assessments.
                    </p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-8">

                    <div class="card">
                        <div class="card-body">
                            <div class="card-title secondary">
                                <fa-icon [icon]="faSearchPlus"></fa-icon>
                                Find Non-Energy Benefits
                            </div>
                            <p class="card-text fw-light">
                                Use the setup wizard to work through the process of finding non-energy benefits. In the
                                wizard you will create and provide details for a company and facility. Then you will add
                                energy assessment details that will allow you to discover additional non-energy
                                benefits.
                            </p>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-outline-success" (click)="openWizardModal()">
                                    <fa-icon [icon]="faWandMagicSparkles"></fa-icon>
                                    Setup Wizard</button>
                            </div>
                            <hr>
                            <div class="list-content">
                                <div class="card-title secondary">
                                    <fa-icon [icon]="faFolderOpen"></fa-icon>
                                    JUSTIFI Portfolio
                                </div>
                                <p class="card-text fw-light">
                                    View the companies, facilities and assessments inside of your JUSTIFI application
                                    from the portfolio window.
                                </p>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-primary" routerLink="/user">
                                        <fa-icon [icon]="faFolderOpen"></fa-icon>
                                        My Portfolio</button>
                                </div>

                                <div class="input-group pt-2">
                                    <label>
                                        <input class="form-check-input mt-0" type="checkbox"
                                            [(ngModel)]="user.skipSplashScreen" (change)="saveChanges()">
                                        Skip this screen next time and go directly to portfolio on startup.</label>
                                </div>
                            </div>
                            <hr>
                            <div class="list-content">
                                <div class="card-title secondary">
                                    <fa-icon [icon]="faStopwatch"></fa-icon>
                                    Latest Visits
                                </div>
                                <p class="card-text fw-light">
                                    Below is a list of the latest visits conducted in JUSTIFI so you can jump back in.
                                    Just click the "<fa-icon [icon]="faWandMagicSparkles"></fa-icon>" button.
                                </p>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                Facility
                                            </th>
                                            <th>
                                                Visit Date
                                            </th>
                                            <th>
                                                Last Modified
                                            </th>
                                            <th class="actions">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let visit of onSiteVisits">
                                            <td>
                                                {{visit.facilityId | facilityName: facilities}}
                                            </td>
                                            <td>
                                                {{visit.visitDate | date}}
                                            </td>
                                            <td>
                                                {{visit.modifiedDate | date}}
                                            </td>
                                            <th class="actions">
                                                <button class="btn btn-outline-success p-1" (click)="goToVisit(visit)">
                                                    <fa-icon [icon]="faWandMagicSparkles"></fa-icon>
                                                </button>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title secondary">
                                <fa-icon [icon]="faBookOpen"></fa-icon>
                                Non-Energy Benefits Resources
                            </div>
                            <div class="d-flex flex-column">
                                <div class="list-content">
                                    <a [href]="'https://www.nrel.gov/'" target="_blank">
                                        <fa-icon [icon]="faExternalLink"></fa-icon>
                                        NEBs Knowledge Library
                                    </a>
                                    <p class="card-text fw-light">
                                        <span class="badge bg-warning">Coming Soon</span>
                                        A knowledge library of content associated to the study of non-energy
                                        benefits
                                        and the process around identifying them has been currated by NREL.
                                    </p>
                                </div>
                                <div class="col-12">
                                    <hr>
                                </div>
                                <div class="list-content">
                                    <a>
                                        <fa-icon [icon]="faQuestionCircle"></fa-icon>
                                        JUSTIFI Help Content
                                    </a>
                                    <p class="card-text fw-light">
                                        <span class="badge bg-warning">Coming Soon</span> View help documents and
                                        tutorials to learn more about using the JUSTIFI
                                        application.
                                    </p>
                                </div>
                                <div class="col-12">
                                    <hr>
                                </div>
                                <div class="list-content">
                                    <a>
                                        <fa-icon [icon]="faDatabase"></fa-icon>
                                        NEBs Database
                                    </a>
                                    <p class="card-text fw-light">
                                        <span class="badge bg-warning">Coming Soon</span> Explore a list of
                                        potential Non-energy
                                        Benefits existing in the tool.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>