<div class="container-fluid">
    <div class="row justify-content-center pt-3">
        <div class="card col-lg-6 col-sm-10">
            <div class="card-body">
                <div class="card-title display-5">
                    Welcome to the Non-Energy Benefits Tool!
                </div>
                <p class="card-text">
                    Use this tool to find the potential impact of projects in your organization by quantifying their
                    non-energy benefits.
                </p>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="display-6">
                            Choose how you would like to get started.
                        </div>
                    </div>
                    <div class="col-12 pt-3">
                        <!-- <hr> -->
                        <div class="d-flex">

                            <fa-icon [icon]="faChevronRight"></fa-icon>
                            <p class="card-text ms-2">
                                Use the setup wizard to create a new assessment. Here you can create a company and facility
                                to
                                add your new assessment to or pick from existing ones in your system.
                            </p>

                        </div>
                        <div class="d-flex justify-content-center pt-2">
                            <button class="btn btn-outline-success" routerLink="/setup-wizard">
                                <fa-icon [icon]="faWandMagicSparkles"></fa-icon>
                                Setup Wizard</button>
                        </div>
                        <hr>
                    </div>
                    <div class="col-12 pt-3">
                        <!-- <hr> -->
                        <div class="d-flex">
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                            <p class="card-text ms-2">
                                Go directly to your application portfolio to view and manage your existing assessments.
                            </p>

                        </div>
                        <div class="d-flex justify-content-center pt-2">
                            <button class="btn btn-primary" routerLink="/user">
                                <fa-icon [icon]="faFolderOpen"></fa-icon>
                                My Portfolio</button>
                        </div>

                        <div class="input-group pt-3">
                            <label>
                                <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="user.skipSplashScreen"
                                    (change)="saveChanges()">
                                Skip this screen next time and go directly to dashboard.</label>
                        </div>
                        <hr>
                    </div>
                    <div class="col-12 pt-3">
                        <div class="d-flex">
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                            <p class="card-text ms-2">
                                Explore common projects with Non-Energy Benefits.
                            </p>

                        </div>
                        <div class="d-flex justify-content-center pt-2">
                            <button class="btn btn-secondary" [disabled]="true">Explore NEBs</button>
                        </div>
                        <hr>
                    </div>
                    <div class="col-12 pt-3">
                        <div class="d-flex">
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                            <p class="card-text ms-2">
                                Learn more about NEBs research at NREL.
                            </p>

                        </div>
                        <div class="d-flex justify-content-center pt-2">
                            <button class="btn btn-secondary" [disabled]="true">Learn More</button>
                        </div>
                        <hr>
                    </div>
                    <div class="col-12 pt-3">
                        <div class="d-flex">
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                            <p class="card-text ms-2">
                                View help documents and tutorials to learn more about using the NEB-Tool application.
                            </p>

                        </div>
                        <div class="d-flex justify-content-center pt-2">
                            <button class="btn btn-secondary" [disabled]="true">Help & Tutorials</button>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>