<div class="container-fluid">
    <div class="row justify-content-center pt-3">
        <div class="card col-lg-6 col-sm-10">
            <div class="card-body">
                <div class="card-title display-5">
                    Welcome to the Non-Energy Benefits Tool!
                </div>
                <p class="card-text">
                    Use this tool to find the potential impact of projects in your organization by quantifying their
                    non-energy benefits.
                </p>
                <hr>
                <button class="btn btn-secondary" routerLink="/user">Go to Project Dashboard</button>
                
                <div class="input-group pt-3">
                    <label>
                        <input class="form-check-input mt-0" type="checkbox" value=""
                            aria-label="Checkbox for following text input">
                        Skip this screen next time and go directly to dashboard.</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-3">
        <div class="card m-1 col-lg-4 col-sm-10">
            <div class="card-body">
                <button class="btn btn-secondary">Explore NEBs</button>
                <p class="card-text">
                    Explore common projects with Non-Energy Benefits.
                </p>
            </div>
        </div>
        <div class="card m-1 col-lg-4 col-sm-10">
            <div class="card-body">
                <button class="btn btn-secondary">Learn More</button>
                <p class="card-text">
                    Learn more about NEBs research at NREL.
                </p>
            </div>
        </div>

    </div>
    <div class="row justify-content-center pt-3">
        <div class="card m-1 col-lg-4 col-sm-10">
            <div class="card-body">
                <button class="btn btn-secondary">Settings</button>
                <p class="card-text">
                    Manage application wide settings.
                </p>
            </div>
        </div>
        <div class="card m-1 col-lg-4 col-sm-10">
            <div class="card-body">
                <button class="btn btn-secondary">Help & Tutorials</button>
                <p class="card-text">
                    View help documents and tutorials to learn more about using the NEB-Tool application.
                </p>
            </div>
        </div>
    </div>
</div>