<h5 class="bold w-100 text-center">
    <fa-icon [icon]="faBuilding" class="me-2"></fa-icon> {{company.generalInformation.name}}
</h5>

<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <td class="w-25">
                Address
            </td>
            <td>
                <!--TODO: add address format-->
                &mdash;
            </td>
        </tr>
        <tr>
            <td>
                NAICs
            </td>
            <td>
                <ng-container *ngIf="!company.generalInformation.naics1">
                    &mdash;
                </ng-container>
                <ng-container
                    *ngIf="company.generalInformation.naics1 && !company.generalInformation.naics2 && !company.generalInformation.naics3">
                    {{company.generalInformation.naics1}}
                </ng-container>
                <ng-container *ngIf="company.generalInformation.naics2 && !company.generalInformation.naics3">
                    {{company.generalInformation.naics2}}
                </ng-container>
                <ng-container *ngIf="company.generalInformation.naics3">
                    {{company.generalInformation.naics3}}
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>