<div [ngClass]="{'window-overlay': displayModal}"></div>
<div class="popup lg-modal-popup" [ngClass]="{'open': displayModal }">
    <div class="popup-header"><fa-icon [icon]="faContactBook"></fa-icon> Team Members
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="popup-body">
        <ng-template [ngIf]="!selectedContact" [ngIfElse]="contactCard">
            <!--select contact-->
            <ng-template [ngIf]="contacts.length != 0" [ngIfElse]="noContactsBlock">
                <div class="list-group">
                    <div class="list-group-item list-group-item-action"
                        *ngFor="let contact of contacts; let index = index;" (click)="toggleContactActive(index)">
                        <div class="d-flex justify-content-between w-100">
                            <div class="p-0">
                                <ng-template [ngIf]="(contextGuid | includesContact:contactContext: contact)">
                                    <fa-icon [icon]="faCircleCheck"></fa-icon>
                                </ng-template>
                                {{contact.name}}
                            </div>
                            <button class="btn btn-sm btn-primary btn-sm" (click)="viewContact(contact)">
                                View
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #noContactsBlock>
                <div class="alert alert-warning">
                    No Contacts Found.
                </div>
            </ng-template>
        </ng-template>
        <ng-template #contactCard>
            <a class="click-link" (click)="viewContact(undefined)">
                <fa-icon [icon]="faChevronLeft"></fa-icon> View All Contacts
            </a>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Contact
                        </th>
                        <th>
                            <ng-template [ngIf]="(contextGuid | includesContact:contactContext: selectedContact)">
                                <fa-icon [icon]="faCircleCheck"></fa-icon>
                            </ng-template>
                            {{selectedContact.name}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Phone
                        </td>
                        <td>
                            {{selectedContact.phone}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            {{selectedContact.email}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Role
                        </td>
                        <td>
                            {{selectedContact.role}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Team
                        </td>
                        <td>
                            {{selectedContact.team}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Focus Area
                        </td>
                        <td>
                            {{selectedContact.focusArea}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Notes
                        </td>
                        <td>
                            {{selectedContact.notes}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </div>
    <div class="popup-footer">
        <div class="d-flex flex-column">
            <div>
                <hr>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary me-2 btn-sm" (click)="closeModal()">Cancel</button>
                <button class="btn btn-success btn-sm" (click)="saveChanges()"><fa-icon [icon]="faSave"></fa-icon> Set
                    Contacts</button>
            </div>
        </div>
    </div>
</div>