<div class="row justify-content-center pt-3">
    <div class="col-lg-8 col-sm-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/user'">Dashboard</a></li>
                <li class="breadcrumb-item"><a [routerLink]="'/user/company/'+companyId">Company {{companyId}}</a></li>
                <li class="breadcrumb-item"><a [routerLink]="'/user/company/'+companyId+'/facility/'+facilityId">Facility {{facilityId}}</a></li>
                <li class="breadcrumb-item active">Project {{projectId}}</li>
            </ol>
        </nav>

        <div class="h4 pt-2">Project {{projectId}} Details:</div>
    </div>
</div>