<div [ngClass]="{'window-overlay': displayCreateNewModal}"></div>
<div class="popup" [ngClass]="{'open': displayCreateNewModal }">
    <div class="popup-header">How would you like to start?
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeCreateNewModal()"></button>
    </div>
    <div class="popup-body">
        <ng-template [ngIf]="companies.length > 0" [ngIfElse]="noCompaniesBlock">
            <div class="alert alert-info p-1">
                Select a company, facility and visit to modify or create new items to add to your portfolio.
            </div>
            <hr>
            <form>
                <div class="row mb-1">
                    <label class="col-sm-5 col-form-label" for="selectedCompany">Select
                        Company</label>
                    <div class="col-7">
                        <select id="selectedCompany" name="selectedCompany" class="form-select"
                            [(ngModel)]="selectedCompanyGuid" (change)="setSelectedCompany()">
                            <option [ngValue]="undefined">Setup New Company</option>
                            <optgroup label="Existing Companies">
                                <option *ngFor="let company of companies" [ngValue]="company.guid">
                                    {{company.generalInformation.name}}</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="row mb-1" *ngIf="selectedCompanyGuid">
                    <label class="col-sm-5" for="selectedFacility">Select Facility</label>
                    <div class="col-7">
                        <select id="selectedFacility" name="selectedFacility" class="form-select"
                            [(ngModel)]="selectedFacilityGuid" (change)="setSelectedFacility()">
                            <option [ngValue]="undefined">Setup New Facility</option>
                            <optgroup label="Existing Facilities">
                                <option *ngFor="let facility of (selectedCompanyGuid | facilityList:facilities)"
                                    [ngValue]="facility.guid">{{facility.generalInformation.name}}</option>
                            </optgroup>
                        </select>
                    </div>
                </div>

                <div class="row mb-1" *ngIf="selectedFacilityGuid && selectedCompanyGuid">
                    <label class="col-sm-5" for="selectedVisit">Select Visit</label>
                    <div class="col-7">
                        <select id="selectedVisit" name="selectedVisit" class="form-select"
                            [(ngModel)]="selectedOnSiteVisitGuid">
                            <option [ngValue]="undefined">Setup New Visit</option>
                            <optgroup label="Existing Visits">
                                <option
                                    *ngFor="let onSiteVisit of (selectedFacilityGuid | onSiteVisitList:onSiteVisits)"
                                    [ngValue]="onSiteVisit.guid">
                                    {{onSiteVisit.visitDate| date}}</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </form>
        </ng-template>
        <ng-template #noCompaniesBlock>
            <div class="alert alert-info">
                No companies found in your system. A new company will be created upon completion of the Pre-Visit.
            </div>
        </ng-template>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeCreateNewModal()">Cancel</button>
        <button class="btn btn-success" (click)="confirmCreate()">Confirm</button>
    </div>
</div>