
<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faListCheck"></fa-icon> Pre-Assessment Setup
                </h5>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-warning text-center">
                            Pre-Assessment Setup Coming Soon.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn btn-dark" (click)="goToNext()">
            Review Pre-Visit
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</nav>