<div class="setup-wizard-content">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faToolbox"></fa-icon> Pre-Assessments
                </h5>
                <hr>
                <ng-container *ngIf="onSiteVisit">
                    <div class="d-flex w-100 justify-content-between pb-2">
                        <div class="p-0">
                            <div class="row">
                                <label class="col-sm-6 col-form-label bold" for="visitDate">Assessment Date</label>
                                <div class="col-sm-6">
                                    <input name="visitDate" id="visitDate" type="date" class="form-control"
                                        [(ngModel)]="onSiteVisit.visitDate" name="visitDate" (change)="setVisitDate()">
                                </div>
                            </div>
                        </div>
                        <div class="p-0">
                            <button class="btn btn-outline-success btn-sm" (click)="addAssessment()">
                                <fa-icon [icon]="faPlus"></fa-icon>
                                Add Pre-Assessment
                            </button>
                        </div>
                    </div>
                    <ng-template [ngIf]="(onSiteVisit.assessmentIds | assessmentListOnSite: assessments).length != 0"
                        [ngIfElse]="noAssessmentsBlock">
                        <div class="accordion" id="assessmentAccordion">
                            <div class="accordion-item"
                                *ngFor="let assessment of (onSiteVisit.assessmentIds | assessmentListOnSite: assessments); let assessmentIndex = index;">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        [attr.data-bs-target]="'#'+assessment.guid" aria-expanded="true"
                                        [attr.aria-controls]="assessment.guid"
                                        [ngClass]="{'collapsed': accordionGuid != assessment.guid}"
                                        (click)="toggleBS(assessment.guid)">
                                        <fa-icon [icon]="faScrewdriverWrench" class="me-1"></fa-icon>
                                        {{assessment.name}}
                                    </button>
                                </h2>
                                <div [id]="'#'+assessment.guid" class="accordion-collapse collapse"
                                    data-bs-parent="#assessmentAccordion">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <form>
                                                    <div class="row">
                                                        <label class="col-sm-5 col-form-label"
                                                            for="{{'assessmentName_'+assessment.guid}}">Assessment
                                                            Name</label>
                                                        <div class="col-sm-7">
                                                            <input name="{{'assessmentName_'+assessment.guid}}"
                                                                type="text" class="form-control"
                                                                [(ngModel)]="assessment.name"
                                                                (input)="saveChanges(assessment)" minlength="1"
                                                                maxlength="42"
                                                                id="{{'assessmentName_'+assessment.guid}}">
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-sm-5 col-form-label"
                                                            for="{{'assessmentType_'+assessment.guid}}">Assessment
                                                            Type</label>
                                                        <div class="col-sm-7">

                                                            <select name="{{'assessmentType_'+assessment.guid}}"
                                                                class="form-select"
                                                                id="{{'assessmentType_'+assessment.guid}}"
                                                                [(ngModel)]="assessment.assessmentType"
                                                                (change)="assessmentTypeChange(assessment)">
                                                                <option *ngFor="let assessmentType of assessmentTypes"
                                                                    [ngValue]="assessmentType">
                                                                    {{assessmentType}}
                                                                </option>
                                                            </select>

                                                        </div>
                                                    </div>

                                                    <hr>
                                                    <h6>Utility Types</h6>
                                                    <p class="fw-light">Select the utility types that are
                                                        applicable to this assessment and enter the annual energy
                                                        use for each type.</p>
                                                    <ng-container *ngFor="let use of assessment.utilityEnergyUses">
                                                        <div class="row mb-1 utility-row"
                                                            *ngIf="assessment.utilityTypes.includes(use.utilityType)">
                                                            <div class="col-4">
                                                                <div class="input-group">
                                                                    <div class="input-group-text">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            name="{{'include_utilityType_' + use.utilityType + assessment.guid}}"
                                                                            id="{{'include_utilityType_' + use.utilityType + assessment.guid}}"
                                                                            [(ngModel)]="use.include"
                                                                            (change)="calculateEnergyUseCost(assessment)">
                                                                    </div>
                                                                    <input type="text"
                                                                        class="form-control disabled-input-label"
                                                                        [value]="use.utilityType" [disabled]="true">
                                                                </div>
                                                            </div>
                                                            <ng-container *ngIf="use.include">
                                                                <div class="col-8">
                                                                    <div class="form-group row align-items-center">
                                                                        <div class="input-group">
                                                                            <input type="number" class="form-control"
                                                                                name="{{'energyUse_' + use.utilityType + assessment.guid}}"
                                                                                id="{{'energyUse_' + use.utilityType + assessment.guid}}"
                                                                                [(ngModel)]="use.energyUse"
                                                                                (input)="calculateEnergyUseCost(assessment)">
                                                                            <select class="input-group-text"
                                                                                name="{{'energyUnit_' + use.utilityType + assessment.guid}}"
                                                                                id="{{'energyUnit_' + use.utilityType + assessment.guid}}"
                                                                                [(ngModel)]="use.energyUnit"
                                                                                (change)="calculateEnergyUseCost(assessment)">
                                                                                <option
                                                                                    *ngFor="let unitOption of (use.utilityType | linkedUnitOptions: 'Energy')"
                                                                                    [ngValue]="unitOption.value">
                                                                                    <span
                                                                                        [innerHTML]="unitOption.value | unitsDisplay"></span>
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                            <ng-container *ngIf="use.include
                                                                && !(use.utilityType | isStandardUnit :use.energyUnit : 'Energy')">
                                                                <div class="col-4">
                                                                    <div class="input-group">
                                                                        <input type="text" class="disabled-input-label-secondary" [disabled]="true"
                                                                        value="{{use.utilityType | utilityHhvDisplay}}">
                                                                    </div>
                                                                </div>
                                                                <div class="col-8">
                                                                    <div class="input-group">
                                                                        <input class="form-control" type="number" step="any" min="0"
                                                                            name="{{'energyHHV_' + use.utilityType + assessment.guid}}"
                                                                            id="{{'energyHHV_' + use.utilityType + assessment.guid}}"
                                                                            [(ngModel)]="use.energyHHV"
                                                                            (change)="calculateEnergyUseCost(assessment)">
                                                                        <select class="input-group-text" 
                                                                            name="{{'energyUnitStandard_' + use.utilityType + assessment.guid}}"
                                                                            id="{{'energyUnitStandard_' + use.utilityType + assessment.guid}}"
                                                                            [(ngModel)]="use.energyUnitStandard"
                                                                            (change)="calculateEnergyUseCost(assessment)">
                                                                            <option *ngFor="let energyUnitOption of energyUnitOptions"
                                                                                [ngValue]="energyUnitOption.value">
                                                                                <span [innerHTML]="energyUnitOption.value | unitsDisplay">
                                                                                </span>/<span [innerHTML]="use.energyUnit| unitsDisplay">
                                                                                </span>
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </ng-container>
                                                    <hr>
                                                    <div class="row">
                                                        <label class="col-sm-5 col-form-label"
                                                            for="{{'energyUse_'+assessment.guid}}">Total
                                                            Energy
                                                            Use</label>
                                                        <div class="col-sm-7" id="{{'energyUse_'+assessment.guid}}">
                                                            {{assessment.energyUse | number:'1.0-2'}}&nbsp;
                                                            <span [innerHTML]="companyEnergyUnit | unitsDisplay">
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-sm-5 col-form-label"
                                                            for="{{'cost_'+assessment.guid}}">Annual
                                                            Costs</label>
                                                        <div class="col-sm-7" id="{{'cost_'+assessment.guid}}">
                                                            {{assessment.cost | currency:'USD':'symbol':'1.0-2'}}
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <label class="col-sm-5 col-form-label"
                                                            for="visitDate">Assessment
                                                            Date</label>
                                                        <div id="visitDate" class="col-sm-7">
                                                            {{assessment.visitDate | date}}
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-12">
                                                <hr>
                                            </div>
                                            <div class="col-12">
                                                <div class="d-flex justify-content-between">
                                                    <div class="col-6">
                                                        <button class="btn btn-sm btn-primary me-1"
                                                            *ngFor="let contact of assessment.guid | associatedContacts:'assessment': contacts;"
                                                            (click)="openContactModal(assessmentIndex, contact)">
                                                            <fa-icon [icon]="faUser"></fa-icon>
                                                            {{contact | contactNameDisplay}}
                                                        </button>
                                                        <button class="btn btn-sm btn-secondary"
                                                            (click)="openContactModal(assessmentIndex, undefined)">
                                                            <fa-icon [icon]="faContactBook"></fa-icon>
                                                            Stakeholders
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <button class="btn btn-sm btn-danger"
                                                            (click)="openDeleteModal(assessment)">
                                                            <fa-icon [icon]="faTrash"></fa-icon> Delete
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #noAssessmentsBlock>
                        <div class="alert alert-info text-center">
                            No Pre-Assessments added. Click "Add Pre-Assessment" to prepare a pre-assessment.
                        </div>
                    </ng-template>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <button class="btn btn-dark btn-sm" (click)="goBack()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
            Go Back
        </button>
        <button class="btn btn-dark btn-sm" (click)="goToNext()">
            Review Pre-Visit
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
</nav>


<div [ngClass]="{'window-overlay': displayDeleteModal}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteModal }">
    <div class="popup-header">Delete Pre-Assessment
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeDeleteModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-danger">
            Are you sure you want to delete this pre-assessment? Changes will be lost.
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeDeleteModal()">Cancel</button>
        <button class="btn btn-danger" (click)="removeAssessment()"><fa-icon [icon]="faTrash"></fa-icon> Delete
            Assessment</button>
    </div>
</div>


<app-contact-modal *ngIf="displayContactModal" (emitCancelContact)="closeContactModal()"
    [contextGuid]="assessments[contactAssessmentIndex].guid" [contactContext]="'assessment'"
    [selectedContact]="viewContact" [companyGuid]="assessments[contactAssessmentIndex].companyId"></app-contact-modal>