<button class="me-2 btn btn-sm btn-info" (click)="openMetricModal()">
    <fa-icon [icon]="faSearchPlus"></fa-icon>
    Search Performance Metrics
</button>


<!--METRICS MODAL-->
<div [ngClass]="{'window-overlay': displayMetricsModal}"></div>
<div class="popup lg-popup" [ngClass]="{'open': displayMetricsModal }">
    <div class="popup-header">Add performance metric for "{{nonEnergyBenefit.name}}"
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeAddMetricModal()"></button>
    </div>
    <div class="popup-body" *ngIf="displayMetricsModal">
        <ng-template [ngIf]="!performanceMetricToAdd" [ngIfElse]="selectedMetricBlock">
            <div class="row justify-content-between mb-2">
                <!-- <div class="col">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="displayAllMetrics"
                            [(ngModel)]="displayAllMetrics" (change)="setMetricOptions()">
                        <label class="form-check-label" for="displayAllMetrics">Display untracked KPMs</label>
                    </div>
                </div> -->
                <div class="col">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="filterAssociatedMetrics"
                            [(ngModel)]="filterAssociatedMetrics" (change)="setMetricOptions()">
                        <label class="form-check-label" for="filterAssociatedMetrics">Filter associated metrics</label>
                    </div>
                    <p class="small mb-0">
                        <fa-icon [icon]="faAsterisk"></fa-icon> Denotes metric typically associated with {{nonEnergyBenefit.name}}.
                    </p>
                </div>
                <div class="col-3">
                    <div class="input-group" role="search">
                        <span class="input-group-text">
                            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                        </span>
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                            name="kpmSearchStr" [(ngModel)]="kpmSearchStr">
                    </div>
                </div>
            </div>
            <ng-template
                [ngIf]="(performanceMetricOptions | metricOptionsModalList: kpmSearchStr: orderByDir).length > 0"
                [ngIfElse]="noOptionsBlock">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th (click)="toggleOrderBy()">
                                <fa-icon [icon]="faChevronDown" *ngIf="orderByDir == 'asc'"></fa-icon>
                                <fa-icon [icon]="faChevronUp" *ngIf="orderByDir == 'desc'"></fa-icon>
                                Performance Metric
                            </th>
                            <th>
                                KPI
                            </th>
                            <th>
                                Category
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="clickable" (click)="addMetric(performanceMetric)"
                            *ngFor="let performanceMetric of performanceMetricOptions | metricOptionsModalList: kpmSearchStr: orderByDir">
                            <td class="add-td text-center">
                                <a class="click-link">
                                    <fa-icon [icon]="faPlus"></fa-icon>
                                </a>
                            </td>
                            <td>
                                <ng-template [ngIf]="nonEnergyBenefit | associatedMetricIndicator: performanceMetric">
                                    <fa-icon class="pe-2" [icon]="faAsterisk"></fa-icon>
                                </ng-template>
                                <span [innerHTML]="performanceMetric.htmlLabel"></span>
                            </td>
                            <td>
                                <ng-template [ngIf]="performanceMetric.kpiGuid" [ngIfElse]="nonExistingBlock">
                                    <span
                                        [innerHTML]="performanceMetric.kpiGuid | kpiLabel:keyPerformanceIndicators"></span>
                                </ng-template>
                                <ng-template #nonExistingBlock>
                                    <span
                                        [innerHTML]="performanceMetric.kpiValue | kpiValueDisplay:keyPerformanceIndicators"></span>
                                </ng-template>
                            </td>
                            <td>
                                <app-primary-kpi-badge [kpiValue]="performanceMetric.kpiValue"
                                    [companyGuid]="nonEnergyBenefit.companyId"></app-primary-kpi-badge>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
            <ng-template #noOptionsBlock>
                <div class="alert alert-warning">
                    No performance metrics found matching the search criteria.
                </div>
            </ng-template>
        </ng-template>
        <ng-template #selectedMetricBlock>
            <div class="alert alert-info text-center">
                Would you like to add this performance metric: <span class="bold"
                    [innerHTML]="performanceMetricToAdd?.htmlLabel"></span>?
            </div>
        </ng-template>
    </div>
    <div class="popup-footer">
        <div class="d-flex flex-column">
            <div>
                <hr>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary btn-sm me-2" (click)="closeAddMetricModal()">Cancel</button>
                <button class="btn btn-success btn-sm" (click)="confirmAddMetric()"
                    [disabled]="!performanceMetricToAdd"><fa-icon [icon]="faPlus" class="me-1"></fa-icon>Add
                    Metric</button>
            </div>
        </div>
    </div>
</div>