<div class="d-flex w-100 justify-content-center mt-3">
    <div class="card col-6">
        <div class="card-header text-center">
            <h5 class="card-title mb-0">
                <fa-icon [icon]="faFileLines" class="me-2"></fa-icon> Setup Project
            </h5>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-12">
                        <label for="projectName">Project Name</label>
                        <input name="projectName" type="text" class="form-control" [(ngModel)]="project.name"
                            minlength="1" maxlength="42" id="projectName">
                    </div>
                    <div class="col-12">
                        <label for="projectType">Project</label>
                        <select name="projectType" class="form-select" id="projectType"
                            [(ngModel)]="project.projectType">
                            <option [ngValue]="undefined">
                                Other
                            </option>
                            <option [ngValue]="'installVFD'">
                                Install VFD
                            </option>
                            <option [ngValue]="'installDriveType'">
                                Install More Efficient Drive Type
                            </option>
                            <option [ngValue]="'installEfficientFan'">
                                Install More Efficient Fan
                            </option>
                            <option [ngValue]="'installEfficientMotor'">
                                Install More Efficient Motor
                            </option>
                            <option [ngValue]="'reduceFlowRate'">
                                Reduce System Flow Rate
                            </option>
                            <option [ngValue]="'reduceSystemPressure'">
                                Reduce System Pressure
                            </option>
                            <option [ngValue]="'adjustOperationalData'">
                                Adjust Operational Data
                            </option>
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="implementationCost">Implementation Cost</label>
                        <div class="input-group">
                            <span class="input-group-text">&dollar;</span>
                            <input name="implementationCost" type="number" class="form-control"
                                [(ngModel)]="project.implementationCost" minlength="1" maxlength="42"
                                id="implementationCost">
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="energySavings">Energy Savings</label>
                        <div class="input-group">
                            <input name="energySavings" type="number" class="form-control"
                                [(ngModel)]="project.energySavings" minlength="1" maxlength="42" id="energySavings">
                            <span class="input-group-text">MMBtu/yr</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-12">
                        <label>Non-energy Benefits</label>
                        <div class="alert alert-info">
                            Drag and drop NEBs from provided list.
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="card-footer">
            <div class="d-flex w-100 justify-content-between">
                <div class="pe-1">
                    <button class="btn btn-danger" (click)="deleteProject()">
                        <fa-icon [icon]="faTrash" class="me-1"></fa-icon>Discard Project</button>
                </div>
                <div class="ps-1">
                    <button class="btn btn-success" (click)="saveProject()">
                        <fa-icon [icon]="faSave" class="me-1"></fa-icon>Save Project</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-6">
        <div class="card-header text-center">
            <h5 class="card-title mb-0">
                <fa-icon [icon]="faArrowsToDot" class="me-2"></fa-icon> Available NEBs
            </h5>
        </div>
        <div class="card-body">
            <div class="alert alert-dark">
                Provide list of NEBs that can be added to the project.
            </div>
        </div>
    </div>
</div>