<h2 class="accordion-header">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+contactGuid"
        aria-expanded="true" [attr.aria-controls]="contactGuid"
        [ngClass]="{'collapsed': accordionIndex != contactIndex}" (click)="setAccordionIndex(contactIndex)">
        <fa-icon [icon]="faCircleExclamation" class="pe-1 fa-error" *ngIf="contactForm.touched && contactForm.invalid"></fa-icon>
        <fa-icon [icon]="faUser" class="pe-1"></fa-icon>
        {{contact.name}}
    </button>
</h2>
<div [id]="contactGuid" class="accordion-collapse collapse" data-bs-parent="#contactAccordion"
    [ngClass]="{'show': accordionIndex == contactIndex}">
    <div class="accordion-body">
        <div class="row">
            <div class="col-12">
                <form [formGroup]="contactForm">
                    <div class="row mb-1">
                        <label class="col-sm-5 col-form-label" for="name">Name</label>
                        <div class="col-sm-7">
                            <input name="name" type="text" class="form-control" formControlName="name" id="name"
                                ((blur))="saveChanges()">
                            <div class="alert alert-danger form-error" *ngIf="contactForm.controls['name'].touched && contactForm.controls['name'].getError('required')">
                                Name Required
                            </div>    
                        </div>
                    </div>
                    <!--TODO: follow pattern on remaining fields-->
                    <div class="row mb-1">
                        <label class="col-sm-5 col-form-label" for="phone">Phone Number</label>
                        <div class="col-sm-7">
                            <input type="tel" class="form-control"
                                formControlName="phone"
                                ((blur))="saveChanges()"
                                id="phone" name="phone">
                                <!-- placeholder=""> -->
                            <div class="alert alert-danger form-error" *ngIf="contactForm.controls['phone'].errors && 
                                (contactForm.controls['phone'].touched )">
                                Invalid phone number: for US (xxx)-xxx-xxxx / for international +xxx xxxxxxxxxx
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label class="col-sm-5 col-form-label" for="email">Email</label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control"
                                formControlName="email"
                                ((blur))="saveChanges()"
                                id="email" name="email">
                            <!-- <div class="alert alert-danger form-error" *ngIf="contactForm.controls['email'].errors['pattern'] && -->
                            <!-- <div class="alert alert-danger form-error" *ngIf="contactForm.controls['email'].errors &&
                                (contactForm.controls['email'].touched || contactForm.controls['email'].dirty)">
                                Invalid email.
                            </div> -->
                            <!-- <div class="alert alert-danger form-error" *ngIf="contactForm.controls['email'].errors['email']"> -->
                            <!-- <div class="alert alert-danger form-error" *ngIf="contactForm.get('email').errors">
                                Invalid email.
                            </div> -->
                            <div *ngIf="contactForm.controls['email'].errors && (contactForm.controls['email'].touched || contactForm.controls['email'].dirty)">
                                <div class="alert alert-danger form-error" *ngIf="contactForm.controls['email'].errors['email']">Invalid Email</div>
                                <div class="alert alert-danger form-error" *ngIf="contactForm.controls['email'].errors['maxlength']">max length</div>
                            </div>
                            <!-- <div class="alert alert-danger form-error" *ngIf="contactForm.controls['email'].errors['maxlength']">
                                Maximum length is 255 characters.
                            </div> -->
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label class="col-sm-5 col-form-label" for="role">Role</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control"
                                formControlName="role"
                                ((blur))="saveChanges()"
                                id="role" name="role">
                            <div class="alert alert-danger form-error" *ngIf="contactForm.controls['role'].errors">
                                Invalid role
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row mb-1">
                        <label class="col-sm-5 col-form-label" for="team">Team</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control"
                                formControlName="team"
                                ((blur))="saveChanges()"
                                id="team" name="team">
                            <div class="alert alert-danger form-error" *ngIf="contactForm.controls['team'].errors">
                                Invalid team
                            </div>
                        </div>
                    </div> -->
                    <div class="row mb-1">
                        <label class="col-sm-5 col-form-label" for="team">Team</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control"
                                formControlName="team"
                                (blur)="saveChanges()"
                                id="team" name="team">
                            <div class="alert alert-danger form-error" *ngIf="contactForm.controls['team'].errors">
                                Invalid team
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label class="col-sm-5 col-form-label" for="focusArea">Focus
                            Area</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                    formControlName="focusArea"
                                    (blur)="saveChanges()" minlength="1"
                                    id="focusArea" name="focusArea">
                                <div class="alert alert-danger form-error" *ngIf="contactForm.controls['focusArea'].errors">
                                    Invalid focus area
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label class="col-sm-5 col-form-label" for="notes">Notes</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" name="notes"
                                formControlName="notes"
                                (blur)="saveChanges()"></textarea>
                            <div class="alert alert-danger form-error" *ngIf="contactForm.controls['notes'].errors">
                                Invalid notes
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12 text-end">
                <button class="btn btn-sm btn-danger" (click)="openDeleteModal()">
                    <fa-icon [icon]="faTrash"></fa-icon> Delete
                </button>
            </div>
        </div>
    </div>
</div>




<div [ngClass]="{'window-overlay': displayDeleteModal}"></div>
<div class="popup" [ngClass]="{'open': displayDeleteModal }">
    <div class="popup-header">Delete Contact
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeDeleteModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-danger">
            Are you sure you want to delete this contact? Changes will be lost.
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeDeleteModal()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteContact()"><fa-icon [icon]="faTrash"></fa-icon> Delete
            Contact</button>
    </div>
</div>