<div class="d-flex w-100 justify-content-center mt-3">
    <div class="card col-6">
        <div class="card-header text-center">
            <h5 class="card-title mb-0">
                <fa-icon [icon]="faFileLines" class="me-2"></fa-icon>Create Project
            </h5>
        </div>
        <div class="card-body">
            <form>
                <label for="projectName">Project Name</label>
                <input name="projectName" type="text" class="form-control" [(ngModel)]="project.name"
                    (input)="saveChanges()" minlength="1" maxlength="42" id="projectName">
            </form>
        </div>

        <div class="card-footer">
            <div class="d-flex w-100 justify-content-between">
                <div class="pe-1">
                    <button class="btn btn-secondary" (click)="goBack()">Go Back</button>
                </div>
                <div class="ps-1">
                    <button class="btn btn-primary" (click)="createProject()">Create Project</button>
                </div>
            </div>
        </div>
    </div>
</div>
