<div class="card">
    <div class="card-header">
        <span class="h4">
            <fa-icon [icon]="faBuilding"></fa-icon>
            Companies
        </span>
        <button class="btn btn-sm btn-success float-end" (click)="openAddNewModal()">
            <fa-icon [icon]="faPlus" title="Add Company"></fa-icon> Add New
        </button>
    </div>
    <div class="card-body">
        <ng-template [ngIf]="companies.length > 0" [ngIfElse]="noCompaniesBlock">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="w-25">
                            Name
                        </th>
                        <th class="w-25">
                            <!-- <fa-icon [icon]="faLocationDot"></fa-icon> -->
                            Location
                        </th>
                        <th class="w-25">
                            <!-- <fa-icon [icon]="faContactCard"></fa-icon> -->
                            Contact
                        </th>
                        <th>
                            Assessments
                        </th>
                        <th class="w-25">
                            Last Modified
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let company of companies">
                        <td>
                            <a [routerLink]="'/company/'+company.guid">
                                {{company.generalInformation.name}}
                            </a>
                        </td>
                        <td>
                            {{company.generalInformation | addressDisplay}}
                        </td>
                        <td>
                            {{company.generalInformation.contactName}}
                        </td>
                        <td>
                            {{(company.guid | assessmentsList: assessments :true).length}}
                        </td>
                        <td>
                            {{company.modifiedDate | date:'short'}}
                        </td>
                    </tr>

                </tbody>
            </table>
        </ng-template>

        <ng-template #noCompaniesBlock>
            <div class="alert alert-info">
                No companies found. Please click "Add New" to get started.
            </div>
        </ng-template>
    </div>
</div>

<div [ngClass]="{'window-overlay': displayAddNewModal}"></div>
<div class="popup" [ngClass]="{'open': displayAddNewModal }">
    <div class="popup-header">Create New Company?
        <button type="button" class="btn-close float-end" aria-label="Close"
            (click)="closeAddNewModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-info">
            Would you like to create a new company for your portfolio?
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeAddNewModal()">Cancel</button>
        <button class="btn btn-success" (click)="confirmCreate()">Create Company</button>
    </div>
</div>