<div class="card">
    <div class="card-header">
        Companies
    </div>
    <div class="card-body">
        <ng-template [ngIf]="companies.length > 0" [ngIfElse]="noCompaniesBlock">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="w-25">
                            Name
                        </th>
                        <th class="w-25">
                            <!-- <fa-icon [icon]="faLocationDot"></fa-icon> -->
                            Location
                        </th>
                        <th class="w-25">
                            <!-- <fa-icon [icon]="faContactCard"></fa-icon> -->
                            Contact
                        </th>
                        <th>
                            Projects
                        </th>
                        <th class="w-25">
                            Last Modified
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let company of companies">
                        <td>
                            <a [routerLink]="'/company/'+company.guid">
                                {{company.generalInformation.name}}
                            </a>
                        </td>
                        <td>
                            {{company.generalInformation | addressDisplay}}
                        </td>
                        <td>
                            {{company.generalInformation.contactName}}
                        </td>
                        <td>
                            {{(company.guid | projectsList: projects :true).length}}
                        </td>
                        <td>
                            {{company.modifiedDate | date:'short'}}
                        </td>
                    </tr>

                </tbody>
            </table>
        </ng-template>

        <ng-template #noCompaniesBlock>
            <div class="alert alert-info">
                No companies found. Please click "Add New" to get started.
            </div>
        </ng-template>
    </div>
</div>