<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="getting-started" [routerLinkActive]="['active']">
            <span class="badge text-bg-secondary">
                <fa-icon [icon]="fa1"></fa-icon>
                <!-- 1 -->
            </span>
            <!-- <fa-icon class="ps-2" [icon]="faBuilding"></fa-icon> -->
            Getting Started
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="company-setup" [routerLinkActive]="['active']">
            <span class="badge text-bg-secondary">
                <fa-icon [icon]="fa2"></fa-icon>
            </span>
            <!-- <fa-icon class="ps-2" [icon]="faIndustry"></fa-icon> -->
            Company Setup
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="facility-setup" [routerLinkActive]="['active']">
            <span class="badge text-bg-secondary">
                <fa-icon [icon]="fa3"></fa-icon>
            </span>
            <!-- <fa-icon class="ps-2" [icon]="faIndustry"></fa-icon> -->
            Facility Setup
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="project-setup" [routerLinkActive]="['active']">
            <span class="badge text-bg-secondary">
                <fa-icon [icon]="fa4"></fa-icon>
            </span>
            <!-- <fa-icon class="ps-2" [icon]="faIndustry"></fa-icon> -->
            Project Setup
        </a>
    </li>
    
</ul>