<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="getting-started" [routerLinkActive]="['active']">
            <span class="badge text-bg-secondary">
                <fa-icon [icon]="fa1"></fa-icon>
            </span>
            Getting Started
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="company-setup" [routerLinkActive]="['active']">
            <span class="badge text-bg-secondary">
                <fa-icon [icon]="fa2"></fa-icon>
            </span>
            Company Setup
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="facility-setup" [routerLinkActive]="['active']">
            <span class="badge text-bg-secondary">
                <fa-icon [icon]="fa3"></fa-icon>
            </span>
            Facility Setup
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="assessment-setup" [routerLinkActive]="['active']">
            <span class="badge text-bg-secondary">
                <fa-icon [icon]="fa4"></fa-icon>
            </span>
            Assessment Setup
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="project-setup" [routerLinkActive]="['active']">
            <span class="badge text-bg-secondary">
                <fa-icon [icon]="fa5"></fa-icon>
            </span>
            Project Setup
        </a>
    </li>
    
</ul>