<form [formGroup]="form">
    <div class="row">
        <div class="col-12">
            <label for="address">Address</label>
            <input type="text" class="form-control" formControlName="address" (input)="saveChanges()" minlength="1"
                maxlength="60" id="address" name="address">
        </div>

        <div class="col-6">
            <label for="country">Country</label>
            <select class="form-select" formControlName="country" (change)="saveChanges()" id="country" name="country">
                <option value="">Select a country</option>
                <option *ngFor="let country of countries" [ngValue]="country.code">{{country.name}}
                </option>
            </select>
        </div>
        <div class="col-6">
            <label for="state">State/Province</label>
            <ng-container *ngIf="(inCompany && company?.generalInformation.country === 'US') || 
                (!inCompany && facility?.generalInformation.country === 'US'); else province">
                <select class="form-select" formControlName="state" (change)="saveChanges()" id="state" name="state">
                    <option *ngFor="let state of states" [ngValue]="state.name">{{state.name}}</option>
                </select>
            </ng-container>
            <ng-template #province>
                <input type="text" class="form-control" formControlName="state" (input)="saveChanges()" id="state" name="state"/>
            </ng-template>
        </div>
        <div class="col-6">
            <label for="city">City</label>
            <input type="text" class="form-control" formControlName="city" (input)="saveChanges()" minlength="1"
                maxlength="85" id="city" name="city">
        </div>
        <div class="col-6">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" formControlName="zip" (input)="saveChanges()" minlength="1"
                maxlength="12" id="zip" name="zip">
            <div class="alert alert-warning form-error" *ngIf="form.controls['zip'].getError('invalidZipCode')">
                Invalid zip code.
            </div>
        </div>
    </div>
</form>