<div class="d-flex w-100 justify-content-center mt-3">
    <div class="card col-6">
        <div class="card-header text-center">
            <h5 class="card-title mb-0">
                <fa-icon [icon]="faFileLines" class="me-2"></fa-icon>Create Assessment
            </h5>
        </div>
        <div class="card-body">
            <form>
                <label for="assessmentName">Assessment Name</label>
                <input name="assessmentName" type="text" class="form-control" [(ngModel)]="assessment.name"
                    (input)="saveChanges()" minlength="1" maxlength="42" id="assessmentName">
            </form>
            <hr>
            <div class="accordion" id="assessmentAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseAssessmentDetails" aria-expanded="true"
                            aria-controls="collapseAssessmentDetails" [ngClass]="{'collapsed': accordionIndex != 0}"
                            (click)="setAccordionIndex(0)">
                            <fa-icon [icon]="faFilePen" class="me-2"></fa-icon>
                            System Details
                        </button>
                    </h2>
                    <div id="collapseAssessmentDetails" class="accordion-collapse collapse"
                        data-bs-parent="#assessmentAccordion" [ngClass]="{'show': accordionIndex == 0}">
                        <div class="accordion-body">
                            <form>
                                <div class="row">
                                    <!-- <div class="col-12">
                                        <label for="equipmentType">Equipment Type</label>
                                        <select name="equipmentType" class="form-select" id="equipmentType"
                                            [(ngModel)]="assessment.equipmentType">
                                            <option *ngFor="let system of equipmentTypeOptions"
                                                [ngValue]="system">
                                                {{system}}
                                            </option>
                                        </select>
                                    </div> -->
                                    <div class="col-12">
                                        <label for="energyUse">Annual Energy Use</label>
                                        <div class="input-group">
                                            <input name="energy" type="number" class="form-control"
                                                [(ngModel)]="assessment.energyUse" (input)="saveChanges()"
                                                id="energyUse">
                                            <span class="input-group-text">MMBtu/yr</span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="cost">Annual Costs</label>
                                        <div class="input-group">
                                            <input name="cost" type="number" class="form-control"
                                                [(ngModel)]="assessment.cost" (input)="saveChanges()" id="cost">
                                            <span class="input-group-text">&dollar;</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseAssessmentResults" aria-expanded="true"
                            aria-controls="collapseAssessmentResults" [ngClass]="{'collapsed': accordionIndex != 1}"
                            (click)="setAccordionIndex(1)">
                            <fa-icon [icon]="faFilePen" class="me-2"></fa-icon>
                            Assessment Results
                        </button>
                    </h2>
                    <div id="collapseAssessmentResults" class="accordion-collapse collapse"
                        data-bs-parent="#assessmentAccordion" [ngClass]="{'show': accordionIndex == 1}">
                        <div class="accordion-body">
                            <form>
                                <div class="row">
                                    <div class="col-12">
                                        <label for="energySavings">Annual Energy Savings</label>
                                        <div class="input-group">
                                            <input name="energySavings" type="number" class="form-control"
                                                [(ngModel)]="assessment.energySavings" (input)="saveChanges()"
                                                id="energySavings">
                                            <span class="input-group-text">MMBtu/yr</span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="costSavings">Annual Cost Savings</label>
                                        <div class="input-group">
                                            <input name="costSavings" type="number" class="form-control"
                                                [(ngModel)]="assessment.costSavings" (input)="saveChanges()"
                                                id="costSavings">
                                            <span class="input-group-text">&dollar;</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="p-1">
                                <div class="alert alert-info text-center">
                                    Savings can be entered at an assessment or project level.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex w-100 justify-content-between">
                <div class="pe-1">
                    <button class="btn btn-secondary" (click)="goBack()">Go Back</button>
                </div>
                <div class="ps-1">
                    <button class="btn btn-primary" (click)="goToNext()" *ngIf="accordionIndex != 1">Next</button>
                    <button class="btn btn-primary" (click)="goToProjects()" *ngIf="accordionIndex == 1">Setup
                        Projects</button>
                </div>
            </div>
        </div>
    </div>
</div>