<div class="setup-wizard-content" *ngIf="assessment">
    <div class="row g-0 justify-content-center h-100 w-100 overflow-scroll">
        <div class="col-10 pt-4 pb-4">
            <div class="form-paper shadow">
                <h5>
                    <fa-icon [icon]="faScrewdriverWrench"></fa-icon> {{assessment.name}}
                </h5>
                <hr>
                <app-assessment-details-form></app-assessment-details-form>
                <hr>
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <app-assessment-projects-form></app-assessment-projects-form>
                        <hr class="d-md-block d-lg-none">
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <app-assessment-nebs-form></app-assessment-nebs-form>
                        <hr class="d-md-block d-lg-none">
                    </div>
                </div>
                <hr class="d-md-none d-lg-block">
                <h5>
                    <fa-icon [icon]="faPeople"></fa-icon> Contacts
                </h5>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-sm btn-primary me-1"
                            *ngFor="let contact of assessment.guid | contactName:'assessment': contacts;"
                            (click)="openContactModal(contact)">
                            <fa-icon [icon]="faUser"></fa-icon>
                            {{contact.name}}
                        </button>
                        <button class="btn btn-sm btn-secondary" (click)="openContactModal(undefined)">
                            <fa-icon [icon]="faUser"></fa-icon>
                            Team Members
                        </button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<nav class="setup-wizard-footer navbar shadow">
    <div class="container-fluid justify-content-between">
        <div class="col-3">
            <button class="btn btn-dark" (click)="goToPrevious()" *ngIf="assessmentIndex != 0">
                <fa-icon [icon]="faChevronLeft"></fa-icon>
                <span class="d-md-none">
                    {{assessments[assessmentIndex-1]?.name}}
                </span>
            </button>
        </div>
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <div class="pe-1">
                    <button class="btn btn-dark add-project-btn" [disabled]="true">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        Add Project
                    </button>
                </div>
                <div class="pe-1">
                    <button class="btn btn-dark add-neb-btn" [disabled]="true">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        Add NEB
                    </button>
                </div>
                <div class="pe-1">
                    <button class="btn btn-secondary" [disabled]="true">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        Add Contact
                    </button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex  justify-content-end">
                <button class="btn btn-dark" (click)="goToNextAssessment()"
                    *ngIf="assessmentIndex != assessments.length-1">
                    <span class="d-md-none">
                        {{assessments[assessmentIndex+1].name}}
                    </span>
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </button>
                <button class="btn btn-dark" (click)="goToResults()" *ngIf="assessmentIndex == assessments.length-1">
                    <span class="d-md-none">
                        View Results
                    </span>
                    <fa-icon [icon]="faChevronRight"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</nav>

<app-contact-modal *ngIf="displayContactModal" (emitCancelContact)="closeContactModal()" [contextGuid]="assessment.guid"
    [contactContext]="'assessment'" [selectedContact]="viewContact"></app-contact-modal>