/* You can add global styles to this file, and also import other style files */


.list-group-item-action:hover {
    cursor: pointer;
}

.overflow-scroll{
    overflow-y: auto;
}

.bold{
    font-weight: bold;
}


a.click-link:hover{
    cursor: pointer;
}