<div class="h4 pt-2">{{selectedCompany.name}} Facilities:</div>
<ng-container *ngIf="facilities.length > 0">
    <ul>
        <li *ngFor="let facility of facilities">
            <a [routerLink]="'/user/company/'+facility.companyId+'/facility/'+facility.guid">
                {{facility.name}}
            </a>
            <ul *ngFor="let project of facility.guid | projectsList: projects">
                <li>
                    <a
                        [routerLink]="'/user/company/'+project.companyId+'/facility/'+project.facilityId+'/project/'+project.guid">{{project.name}}</a>
                </li>
            </ul>
        </li>
    </ul>
</ng-container>

<ng-container *ngIf="facilities.length == 0">
    <div class="alert alert-info">
        No facilites found. Please click "Add Facility" to get started.
    </div>
</ng-container>