<div class="d-flex justify-content-between">
    <div class="h4 pt-2">Facilities
    </div>
    <div class="p-0">
        <button class="btn btn-sm btn-primary" (click)="addFacility()">
            <fa-icon [icon]="faPlus"></fa-icon>Add Facility</button>
    </div>
</div>
<ng-template [ngIf]="facilities.length > 0" [ngIfElse]="noFacilitiesBlock">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="w-25">
                    <fa-icon [icon]="faIndustry"></fa-icon>
                    Facility
                </th>
                <th class="w-25">
                    <fa-icon [icon]="faLocationDot"></fa-icon>
                    Location
                </th>
                <th class="w-25">
                    <fa-icon [icon]="faContactCard"></fa-icon>
                    Contact
                </th>
                <th class="w-25">
                    <fa-icon [icon]="faFileLines"></fa-icon>
                    Projects
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let facility of facilities">
                <td>
                    <a [routerLink]="'/user/company/'+facility.companyId+'/facility/'+facility.guid">
                        {{facility.generalInformation.name}}
                    </a>
                </td>
                <td>
                    {{facility.generalInformation | addressDisplay}}
                </td>
                <td>
                    {{facility.generalInformation.contactName}}
                </td>
                <td>
                    {{(facility.guid | projectsList: projects).length}}
                </td>
            </tr>

        </tbody>
    </table>
    <!-- <ul>
        <li *ngFor="let facility of facilities">
            <ul *ngFor="let project of facility.guid | projectsList: projects">
                <li>
                    <a
                        [routerLink]="'/user/company/'+project.companyId+'/facility/'+project.facilityId+'/project/'+project.guid">{{project.name}}</a>
                </li>
            </ul>
        </li>
    </ul> -->
</ng-template>

<ng-template #noFacilitiesBlock>
    <div class="alert alert-info">
        No facilites found. Please click "Add Facility" to get started.
    </div>
</ng-template>