<div [ngClass]="{'window-overlay': displayModal}"></div>
<div class="popup neb-modal-popup" [ngClass]="{'open': displayModal }">
    <div class="popup-header"><fa-icon [icon]="faWeightHanging"></fa-icon> Potential NEBs for
        <ng-template [ngIf]="energyOpportunity" [ngIfElse]="assessmentBlock">
            {{energyOpportunity.name}}
        </ng-template>
        <ng-template #assessmentBlock>
            {{assessment.name}}
        </ng-template>
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="popup-body">
        <table class="table table-bordered table-sm">
            <tbody>
                <tr *ngFor="let neb of nebOptions">
                    <td class="text-center" (click)="selectNeb(neb)">
                        <a class="click-link">
                            <ng-template [ngIf]="!neb.selected" [ngIfElse]="selectedNebBlock">
                                <fa-icon [icon]="faPlus"></fa-icon>
                            </ng-template>
                            <ng-template #selectedNebBlock>
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </ng-template>
                        </a>
                    </td>
                    <td>
                        <span [innerHTML]="neb.htmlLabel"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="popup-footer">
        <div class="d-flex flex-column">
            <div>
                <hr>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary me-2" (click)="closeModal()">Cancel</button>
                <button class="btn btn-success" (click)="addNebs()" [disabled]="numberSelected == 0"><fa-icon
                        [icon]="faPlus"></fa-icon> Add {{numberSelected}}
                    NEBs</button>
            </div>
        </div>
    </div>
</div>