

.contact.accordion-button:not(.collapsed){
    background-color: #0079c2;
    color: white;
}


.accordion-button:not(.collapsed){
    background-color: white;
    /* color: white; */
}

.accordion{
    --bs-accordion-border-radius: 0;
}