<h6 class="pt-2 pb-2">
    <div class="d-flex w-100 justify-content-between">
        <div class="mt-auto bold">
            Assessment Non-Energy Benefits
        </div>
        <div class="dropdown">
            <button class="btn btn-outline-neb btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <fa-icon [icon]="faPlus"></fa-icon> Add NEB
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" (click)="addNEB()">
                        <fa-icon [icon]="faPlus"></fa-icon> Add Custom NEB
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" (click)="openNebModal()">
                        <fa-icon [icon]="faSearchPlus"></fa-icon> Search NEBs Database
                    </a>
                </li>
            </ul>
        </div>
    </div>
</h6>
<p class="fw-light small">
    Use the "<fa-icon [icon]="faPlus"></fa-icon> Add NEB" dropdown to add Non-Energy Benefits 
    (<fa-icon [icon]="faWeightHanging"></fa-icon>) that are 
    <span class="bold">not associated with any specific energy efficiency opportunity</span> to this assessment .
</p>

<app-neb-forms-accordion [assessment]="assessment"></app-neb-forms-accordion>