<div class="d-flex w-100 justify-content-center mt-3">
    <div class="card col-6">
        <div class="card-header text-center">
            <h5 class="card-title mb-0">
                <fa-icon [icon]="faFileLines" class="me-2"></fa-icon>Assessment Projects
            </h5>
        </div>
        <div class="card-body">
            <ng-template [ngIf]="projects.length > 0" [ngIfElse]="noProjectsBlock">
                <div class="row">
                    <div class="col-12">
                        <div class="float-end">
                            <button class="btn btn-success btn-sm" (click)="addProject()"><fa-icon [icon]="faPlus" class="me-1"></fa-icon>Add Project</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="list-group">
                            <div *ngFor="let project of projects" class="list-group-item list-group-item-action list-group-item-success"
                                (click)="selectProject(project)">
                                {{project.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template #noProjectsBlock>
                <div class="d-flex flex-column w-100 justify-content-center mt-3">
                    <div class="alert alert-info">
                        No projects found for this assessment.
                    </div>
                    <div class="text-center pt-1">
                        <button class="btn btn-success" (click)="addProject()"><fa-icon [icon]="faPlus" class="me-1"></fa-icon>Add Project</button>
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="card-footer">
            <div class="d-flex w-100 justify-content-between">
                <div class="pe-1">
                    <button class="btn btn-secondary" (click)="goBack()">Go Back</button>
                </div>
                <div class="ps-1">
                    <button class="btn btn-primary" (click)="goToReviewSetup()">Review Setup</button>
                </div>
            </div>
        </div>
    </div>
</div>