<button class="btn btn-sm btn-secondary me-1" (click)="openContactModal(undefined)">
    <fa-icon [icon]="faContactBook"></fa-icon>
    <ng-template [ngIf]="(contextGuid | associatedContacts: contactContext: contacts).length > 0">
        Team Members
    </ng-template>
</button>
<button class="btn btn-sm btn-primary me-1" *ngFor="let contact of contextGuid | associatedContacts: contactContext: contacts;"
    (click)="openContactModal(contact)">
    <fa-icon [icon]="faUser"></fa-icon>
    {{contact.name}}
</button>
<!--  -->



<!-- <button class="btn btn-sm btn-primary me-1" *ngFor="let contact of contextGuid | contactName: contactContext: contacts;"
    (click)="openContactModal(contact)">
    <fa-icon [icon]="faUser"></fa-icon>
    {{contact.name}}
</button>
<button class="btn btn-sm btn-secondary" (click)="openContactModal(undefined)">
    <fa-icon [icon]="faContactBook"></fa-icon>
    Team Members
</button> -->

<app-contact-modal *ngIf="displayContactModal" (emitCancelContact)="closeContactModal()" [contextGuid]="contextGuid"
    [contactContext]="contactContext" [selectedContact]="viewContact" [companyGuid]="companyGuid"></app-contact-modal>