/* .card-body{
    height: 650px;
} */

.company-content{
    height: calc(100% - 4rem);
    /* background-color: red; */
    overflow-y: auto;
}



.navbar{
    height: 4rem;
    background-color: #0079c2 !important;
}

.bold{
    font-weight: bold;
}

.overflow-scroll{
    overflow-y: auto;
}