<div class="h-100 navbar d-flex flex-column align-items-start justify-content-start shadow"
    [ngClass]="{'collapsed': collapseHelpPanel}">
    <div class="ps-1 pe-1 w-100 pb-2 d-flex">
        <div class="toggle-collapse">
            <button class="btn btn-sm btn-outline-secondary" (click)="toggleCollapseHelpPanel()">
                <fa-icon [icon]="faCircleQuestion"></fa-icon>
            </button>
        </div>
    </div>
    <div class="w-100">
        <app-company-setup-help *ngIf="helpContext == 'company-setup'"></app-company-setup-help>
        <app-company-contacts-help *ngIf="helpContext == 'company-contacts'"></app-company-contacts-help>
        <app-company-kpi-select-help *ngIf="helpContext == 'company-kpi-select'"></app-company-kpi-select-help>
    </div>
</div>