<div class="h-100 navbar d-flex flex-column align-items-start justify-content-start shadow help-text"
    [ngClass]="{'collapsed': collapseHelpPanel}">
    <div class="w-100 pb-1 d-flex">
        <div class="toggle-collapse d-flex">
            <a class="click-link" (click)="toggleCollapseHelpPanel()">
                <fa-icon [icon]="faCircleQuestion"></fa-icon>
            </a>
            <div class="d-flex mt-2 ps-1 panel-label" *ngIf="!collapseHelpPanel">
                <h5 class="mb-0">{{helpLabel}}</h5>
            </div>
        </div>
    </div>
    <div class="w-100">
        <hr class="mt-0">
    </div>
    <div class="w-100" *ngIf="!collapseHelpPanel">
        <app-company-setup-help *ngIf="helpContext == 'company-setup'"></app-company-setup-help>
        <app-company-contacts-help *ngIf="helpContext == 'company-contacts'"></app-company-contacts-help>
        <app-company-kpi-select-help *ngIf="helpContext == 'company-kpi-select'"></app-company-kpi-select-help>
        <app-facility-setup-help *ngIf="helpContext == 'facility-setup'"></app-facility-setup-help>
        <app-company-kpi-detail-help *ngIf="helpContext == 'company-kpi-detail'"></app-company-kpi-detail-help>
        <app-energy-equipment-help *ngIf="helpContext == 'energy-equipment'"></app-energy-equipment-help>
        <app-end-uses-help *ngIf="helpContext == 'end-uses'"></app-end-uses-help>
        <app-pre-assessment-help *ngIf="helpContext == 'pre-assessment'"></app-pre-assessment-help>
        <app-review-pre-visit-help *ngIf="helpContext == 'review-pre-visit'"></app-review-pre-visit-help>
        <app-assessment-details-help *ngIf="helpContext == 'assessment-details'"></app-assessment-details-help>
        <app-manage-assessments-help *ngIf="helpContext == 'manage-assessments'"></app-manage-assessments-help>
        <app-energy-opportunities-help *ngIf="helpContext == 'energy-opportunities'"></app-energy-opportunities-help>
        <app-assessment-nebs-help *ngIf="helpContext == 'assessment-nebs'"></app-assessment-nebs-help>
        <app-assessment-results-help *ngIf="helpContext == 'assessment-results'"></app-assessment-results-help>
    </div>
</div>