<form [formGroup]="form">
    <div class="row">
        <div class="col-12">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" (input)="saveChanges()" minlength="1"
                maxlength="42" id="name">
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="fs-4">
                Location
            </label>
        </div>
        <div class="col-12">
            <label for="address">Address</label>
            <input type="text" class="form-control" formControlName="address" (input)="saveChanges()" minlength="1"
                maxlength="60" id="address" name="address">
        </div>

        <div class="col-6">
            <label for="country">Country</label>
            <select class="form-select" formControlName="country" (change)="saveChanges()" id="country" name="country">
                <option *ngFor="let country of countries" [ngValue]="country.code">{{country.name}}</option>
            </select>
        </div>
        <div class="col-6">
            <label for="state">State</label>
            <select class="form-select" formControlName="state" (change)="saveChanges()" id="state" name="state">
                <option *ngFor="let state of states" [ngValue]="state.name">{{state.name}}</option>
            </select>
        </div>
        <div class="col-6">
            <label for="city">City</label>
            <input type="text" class="form-control" formControlName="city" (input)="saveChanges()" minlength="1"
                maxlength="85" id="city" name="city">
        </div>
        <div class="col-6">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" formControlName="zip" (input)="saveChanges()" minlength="1"
                maxlength="12" id="zip" name="zip">
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label class="fs-4">
                Primary Contact
            </label>
        </div>
        <div class="col-md-6 col-sm-12">
            <label for="contactName">Name</label>
            <input type="text" class="form-control" formControlName="contactName" (input)="saveChanges()" minlength="1"
                maxlength="60" id="contactName" name="contactName">
        </div>
        <div class="col-md-6 col-sm-12">
            <label for="contactRole">Role</label>
            <input type="text" class="form-control" formControlName="contactRole" (input)="saveChanges()" minlength="1"
                maxlength="60" id="contactRole" name="contactRole">
        </div>
        <div class="col-md-6 col-sm-12">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" formControlName="contactPhone" (input)="saveChanges()" minlength="1"
                maxlength="10" id="phone" name="phone">
        </div>
        <div class="col-md-6 col-sm-12">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="contactEmail" (input)="saveChanges()"
                minlength="1" maxlength="85" id="email" name="email">
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="naics1" class="fs-4">NAICS Code</label>
            <select class="form-select" formControlName="naics1" (change)="checkNAICS()" id="naics1">
                <option *ngFor="let naics of firstNaicsList" [ngValue]="naics.code">{{naics.code}} -
                    {{naics.industryType}}</option>
            </select>
            <select class="form-select" formControlName="naics2" (change)="checkNAICS()"
                *ngIf="form.controls['naics1'].value" id="naics2">
                <option *ngFor="let naics of secondNaicsList | naicsList:form.controls['naics1'].value"
                    [ngValue]="naics.code">{{naics.code}} -
                    {{naics.industryType}}</option>
                <option [ngValue]=null></option>
            </select>
            <select class="form-select" formControlName="naics3" (change)="saveChanges()"
                *ngIf="form.controls['naics2'].value" id="naics3">
                <option *ngFor="let naics of thirdNaicsList | naicsList:form.controls['naics2'].value"
                    [ngValue]="naics.code">{{naics.code}} -
                    {{naics.industryType}}</option>
                <option [ngValue]=null></option>
            </select>
        </div>
    </div>
</form>