.disabled-input-label{
    background-color: white;
    border: none;
    border-left: var(--bs-border-width) solid var(--bs-border-color);
}

.utility-row:hover, .utility-row:hover .disabled-input-label {
  background-color: #efefef;
}

.disabled-input-label-secondary{
    background-color: white;
    border: none;
    margin-left: 28px;
}