<form *ngIf="assessment">
    <div class="row">
        <label class="col-sm-5 col-form-label" for="assessmentName">Assessment Name</label>
        <div class="col-sm-7">
            <input name="assessmentName" type="text" class="form-control" [(ngModel)]="assessment.name"
                (input)="saveChanges()" minlength="1" maxlength="42" id="assessmentName">
        </div>
    </div>

    <div class="row">
        <label class="col-sm-5 col-form-label" for="assessmentType">Assessment Type</label>
        <div class="col-sm-7">
                <select name="assessmentType" class="form-select" id="assessmentType"
                    [(ngModel)]="assessment.assessmentType"
                    (change)="setUtilityTypes()">
                    <option
                        *ngFor="let assessmentType of assessmentTypes"
                        [ngValue]="assessmentType">
                        {{assessmentType}}
                    </option>
                </select>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-5 col-form-label" for="utilityType">Utility Type</label>
        <div class="col-sm-7">

                <select name="utilityType" class="form-select"
                    id="utilityType"
                    [(ngModel)]="assessment.utilityType"
                    (change)="setUnitOptionValue()">
                    <option
                        *ngFor="let utilityType of assessment.utilityTypes"
                        [ngValue]="utilityType">
                        {{utilityType}}
                    </option>
                </select>

        </div>
    </div>

    <div class="row">
        <label class="col-sm-5 col-form-label" for="energyUse">Annual Energy
            Use</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input name="energy" type="number" class="form-control" [(ngModel)]="assessment.energyUse"
                    (input)="saveChanges()" id="energyUse">
                    <select name="energyUnit" class="input-group-text" id="energyUnit"
                        [(ngModel)]="assessment.unitOptionValue"
                        (change)="saveChanges()">
                    <option *ngFor="let unitOption of (assessment.utilityType | linkedUnitOptions)" [ngValue]="assessment.unitOptionValue">
                        <span [innerHTML]="unitOption.value | unitsDisplay"></span>
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-5 col-form-label" for="cost">Annual
            Costs</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input name="cost" type="number" class="form-control" [(ngModel)]="assessment.cost"
                    (input)="saveChanges()" id="cost">
                <span class="input-group-text">&dollar;</span>
            </div>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-5 col-form-label" for="visitDate">Assessment
            Date</label>
        <div class="col-sm-7">
            {{assessment.visitDate | date}}
        </div>
    </div>
    <hr>
    <div class="row">
        <label class="col-sm-5 col-form-label" for="implementationCost">Implementation Cost</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input name="implementationCost" type="number" class="form-control"
                    [(ngModel)]="assessment.implementationCost" (input)="saveChanges()" id="implementationCost">
                <span class="input-group-text">&dollar;</span>
            </div>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-5 col-form-label" for="energySavings">Annual Energy Savings</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input name="energySavings" type="number" class="form-control" [(ngModel)]="assessment.energySavings"
                    (input)="saveChanges()" id="energySavings">
                <span class="input-group-text">MMBtu/yr</span>
            </div>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-5 col-form-label" for="costSavings">Annual Cost Savings</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input name="costSavings" type="number" class="form-control" [(ngModel)]="assessment.costSavings"
                    (input)="saveChanges()" id="costSavings">
                <span class="input-group-text">&dollar;</span>
            </div>
        </div>
    </div>
</form>
<hr class="d-md-none d-lg-block">
<h5>
    <fa-icon [icon]="faPeopleGroup"></fa-icon> Contacts
</h5>
<div class="row">
    <div class="col-12">
        <button class="btn btn-sm btn-primary me-1"
            *ngFor="let contact of assessment.guid | associatedContacts:'assessment': contacts;"
            (click)="openContactModal(contact)">
            <fa-icon [icon]="faUser"></fa-icon>
            {{contact | contactNameDisplay}}
        </button>
        <button class="btn btn-sm btn-secondary" (click)="openContactModal(undefined)">
            <fa-icon [icon]="faContactBook"></fa-icon>
            Stakeholders
        </button>
    </div>
</div>