<form *ngIf="assessment">
    <div class="row">
        <label class="col-sm-5 col-form-label" for="assessmentName">Assessment Name</label>
        <div class="col-sm-7">
            <input name="assessmentName" type="text" class="form-control" [(ngModel)]="assessment.name"
                (input)="saveChanges()" minlength="1" maxlength="42" id="assessmentName">
        </div>
    </div>

    <div class="row">
        <label class="col-sm-5 col-form-label" for="equipmentId">Process
            Equipment</label>
        <div class="col-sm-7">
            <ng-template [ngIf]="processEquipmentOptions.length != 0" [ngIfElse]="noEquipmentBlock">
                <select name="equipmentId" class="form-select" id="equipmentId" [(ngModel)]="assessment.equipmentId"
                    (change)="saveChanges()">
                    <option *ngFor="let processEquipment of processEquipmentOptions" [ngValue]="processEquipment.guid">
                        {{processEquipment.equipmentName}}
                    </option>
                </select>
            </ng-template>
            <ng-template #noEquipmentBlock>
                <div class="alert alert-warning mb-0 p-1">
                    No process equipment found.
                </div>
            </ng-template>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-5 col-form-label" for="energyUse">Annual Energy
            Use</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input name="energy" type="number" class="form-control" [(ngModel)]="assessment.energyUse"
                    (input)="saveChanges()" id="energyUse">
                <span class="input-group-text">MMBtu/yr</span>
            </div>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-5 col-form-label" for="cost">Annual
            Costs</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input name="cost" type="number" class="form-control" [(ngModel)]="assessment.cost"
                    (input)="saveChanges()" id="cost">
                <span class="input-group-text">&dollar;</span>
            </div>
        </div>
    </div>

    <div class="row">
        <label class="col-sm-5 col-form-label" for="visitDate">Scheduled
            For</label>
        <div class="col-sm-7">
            {{assessment.visitDate | date}}
        </div>
    </div>
    <hr>
    <div class="row">
        <label class="col-sm-5 col-form-label" for="implementationCost">Implementation Cost</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input name="implementationCost" type="number" class="form-control"
                    [(ngModel)]="assessment.implementationCost" (input)="saveChanges()" id="implementationCost">
                <span class="input-group-text">&dollar;</span>
            </div>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-5 col-form-label" for="energySavings">Annual Energy Savings</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input name="energySavings" type="number" class="form-control" [(ngModel)]="assessment.energySavings"
                    (input)="saveChanges()" id="energySavings">
                <span class="input-group-text">MMBtu/yr</span>
            </div>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-5 col-form-label" for="costSavings">Annual Cost Savings</label>
        <div class="col-sm-7">
            <div class="input-group">
                <input name="costSavings" type="number" class="form-control" [(ngModel)]="assessment.costSavings"
                    (input)="saveChanges()" id="costSavings">
                <span class="input-group-text">&dollar;</span>
            </div>
        </div>
    </div>
</form>
<hr class="d-md-none d-lg-block">
<h5>
    <fa-icon [icon]="faPeopleGroup"></fa-icon> Contacts
</h5>
<div class="row">
    <div class="col-12">
        <app-team-members [companyGuid]="assessment.companyId" [contactContext]="'assessment'"
            [contextGuid]="assessment.guid"></app-team-members>
    </div>
</div>