<div class="card">
    <div class="card-header">
        <span class="h4">
            <fa-icon [icon]="faIndustry"></fa-icon>
            Facilities
        </span>
        <button class="btn btn-sm btn-success float-end" (click)="openAddNewModal()">
            <fa-icon [icon]="faPlus" title="Add Company"></fa-icon> Add New
        </button>
    </div>
    <div class="card-body">
        <ng-template [ngIf]="(company.guid| facilityList: facilities).length > 0" [ngIfElse]="noFacilitiesBlock">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="w-25">
                            Name
                        </th>
                        <th class="w-25">
                            <!-- <fa-icon [icon]="faLocationDot"></fa-icon> -->
                            Location
                        </th>
                        <th class="w-25">
                            <!-- <fa-icon [icon]="faContactCard"></fa-icon> -->
                            Contact
                        </th>
                        <th>
                            Assessments
                        </th>
                        <th class="w-25">
                            Last Modified
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let facility of company.guid| facilityList: facilities">
                        <td>
                            <a [routerLink]="'/facility/'+facility.guid">
                                {{facility.generalInformation.name}}
                            </a>
                        </td>
                        <td>
                            {{facility.generalInformation | addressDisplay}}
                        </td>
                        <td>
                            {{facility.generalInformation.contactName}}
                        </td>
                        <td>
                            {{(facility.guid | assessmentsList: assessments).length}}
                        </td>
                        <td>
                            {{facility.modifiedDate | date:'short'}}
                        </td>
                    </tr>

                </tbody>
            </table>
        </ng-template>

        <ng-template #noFacilitiesBlock>
            <div class="alert alert-info">
                No facilities found. Please click "Add New" to get started.
            </div>
        </ng-template>
    </div>
</div>


<div [ngClass]="{'window-overlay': displayAddNewModal}"></div>
<div class="popup" [ngClass]="{'open': displayAddNewModal }">
    <div class="popup-header">Create New Facility?
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeAddNewModal()"></button>
    </div>
    <div class="popup-body">
        <div class="alert alert-info">
            Are you sure you want to create a new facility for this company?
        </div>
        <hr>
    </div>
    <div class="popup-footer d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="closeAddNewModal()">Cancel</button>
        <button class="btn btn-success" (click)="confirmCreate()">Create Facility</button>
    </div>
</div>